{% load static from staticfiles %}
{% load i18n %}

<html>

<head>
    <title>RDRF | Patient registration</title>

    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap-theme.min.css' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js' %}"></script>

    <style>
        body {
            background-color: #edeff1;
        }
    </style>
</head>

<body>
    <br/>
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h3>{% trans 'You have successfully activated your account.' %}</h3><br>
            {% trans 'Please proceed to' %} <a href="{% url 'two_factor:login' %}?next={% url 'login_router' %}">{% trans 'login page' %}</a>.
        </div>
    </div>
</body>

</html>
