{% load i18n %}{% autoescape off %}
{% trans "Hello Mr/Ms" %} {{user.last_name}},

{% blocktrans %}You're receiving this email because you were having trouble signing in and requested help.{% endblocktrans %}

{% blocktrans %}The system needs to verify your account.{% endblocktrans %}

{% trans "Please go to the following page for further information:" %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'login_assistance_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The RDRF team.{% endblocktrans %}

{% endautoescape %}
