{% load i18n %}{% autoescape off %}
{% trans "Hello Mr/Ms" %} {{user.last_name}},

{% blocktrans %}You're receiving this email because you requested a password reset for your RDRF user account.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Note that, for security reasons, this link is only valid for two hours." %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The RDRF team.{% endblocktrans %}

{% endautoescape %}
