{% load countries %}
{% load static %}

<html>

<head>
    <title>RDRF | Patient registration</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="{% static  'js/pwstrength-bootstrap-1.2.5.min.js' %}"></script>
    
    <style>
        body {
            background-color: #edeff1;
        }
        
        .top-separator {
            border-top:
            dotted 1px #bbb;
            padding-top: 20px;
        }
    </style>
    
    <script type="text/javascript">
        $(document).ready(function() {
            var url_path = "{{request.path}}";
            var url_elems = url_path.split("/")
            var registry_code = url_elems[url_elems.length - 3];
            $('#id_password1').pwstrength({
                ui: { showVerdictsInsideProgressBar: true }
            });
            
            $("#id_date_of_birth").datepicker({
                'dateFormat': 'yy-mm-dd'
            });
            
            $.get("{% url 'clinician_lookup' %}", { 'registry_code': registry_code }, function(data) {
                clinician_drop = $("#id_clinician");
                $.each($.parseJSON(data), function(i, item){
                    clinician_drop.append($('<option>', { value : item.id }).text(item.full_name)); 
                });
            });

            $("#registration-submit").click(function() {
                var registration_form = $("#registration-form");
                console.log(registration_form.valid());
                registration_form.submit();
            });
        });    
    </script>
</head>

<body>
    <br>
    {{form.errors}}
    <div class="container">
        <div class="alert alert-info">
            <strong>Rare Disease Registry - Patient Registration</strong>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Personal data</h3>
                Please enter your own details here, even if you are not the patient yourself. If you are registering a child as a patient, you will be able to enter his or her details in a later step. Please note that you must be the patient’s parent or guardian to enter a patient other than yourself.
            </div>
            <div class="col-md-6" style="text-align: justify; border-left: dotted 1px #bbb;">
                <form class="form-horizontal" id="registration-form" method="POST" style="padding-left: 20px; padding-right: 15px;">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" placeholder="First Name" id="id_first_name" maxlength="30" name="first_name" type="text" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Surname" id="id_surname" maxlength="30" name="surname" type="text" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Date of birth" id="id_date_of_birth" name="date_of_birth" type="text" />
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" id="id_gender" name="gender" value="M">Male</label>
                            <label><input type="radio" id="id_gender" name="gender" value="F">Female</label>
                        </div>
                    </div> 
                    
                    <div class="form-group top-separator">
                        <input class="form-control" placeholder="Address" id="id_address" maxlength="100" name="address" type="text" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Suburb/Town" id="id_suburb" maxlength="30" name="suburb" type="text" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="State" id="id_state" maxlength="30" name="state" type="text" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Postcode" id="id_postcode" maxlength="30" name="postcode" type="text" />
                    </div>
                    <div class="form-group">
                        <select class="form-control" placeholder="Country" id="id_country" name="country">
                            <option value="-1">Country</option>
                            {% countries as countries %}
                            {% for con in countries %}
                                <option value="{{con.alpha2}}">{{con.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group top-separator">
                        <select class="form-control" id="id_clinician" name="clinician">
                            <option value="-1">Choose your preferred Clinician</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email address" id="id_email" name="email" type="email" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" id="id_username" maxlength="30" name="username" type="text" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" id="id_password1" name="password1" type="password" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Repeat password" id="id_password2" name="password2" type="password" />
                    </div>
                    <div class="form-group">
                        <button type="button" id="registration-submit" class="btn btn-success pull-right">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>

</html>