{% load countries %}
{% load static %}

<html>

<head>
    <title>RDRF | Patient registration</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="{% static 'js/password.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <style>
        body {
            background-color: #edeff1;
            padding-bottom: 70px;
        }
        .top-separator {
            border-top: dotted 1px #bbb;
            padding-top: 20px;
        }
        .bottom-separator {
            border-bottom: dotted 1px #bbb;
            padding-bottom: 20px;
        }
        
        .error {
            color: red;
            font-style: italic;
            font-size: small;
        }
    </style>
    
    <script type="text/javascript">
        $(document).ready(function() {
            var state_lookup_url = "{% url 'state_lookup' 999 %}";

            $("#form-other-clinician").hide();
            $("#underage_msg").hide();
            
            var registry_code = "{{registry_code}}"
            
            var dateOptions = {
                'dateFormat': 'yy-mm-dd',
                'showAnim': 'blind',
                'changeMonth': true,
                'changeYear': true,
                'minDate': '-100Y',
                'maxDate': '0',
                'yearRange': '-100:+0'
            }
            
            $("#id_date_of_birth").datepicker(dateOptions);
            $("#id_parent_guardian_date_of_birth").datepicker(dateOptions);
            
            $.get("{% url 'clinician_lookup' %}", { 'registry_code': registry_code }, function(data) {
                clinician_drop = $("#id_clinician");
                $.each($.parseJSON(data), function(i, item){
                    clinician_drop.append($('<option>', { value : item.id }).text(item.full_name)); 
                });
                clinician_drop.append($('<option>', { value : 'clinician-other' }).text('Other - not listed'));
            });

            $("#registration-submit").click(function() {
                var registration_form = $("#registration-form");
                $("#id_email").val($("#id_username").val());
                if (registration_form.valid()) {
                    registration_form.submit();
                }
            });

            $('#id_clinician').change(function() {
                if($('#id_clinician option:selected').val() == 'clinician-other') {
                    $("#form-other-clinician").show("blind");
                } else {
                    $("#form-other-clinician").hide("blind");
                }
            });

            $("#id_date_of_birth").change(function() {
                if ($("#parent_guardian_check").prop("checked")) {
                    return;
                }
                date_str = $("#id_date_of_birth").val();
                dob = new Date(date_str);
                if (dateDiffInYears(new Date(),dob) >= 18 ) {
                    $("#underage_msg").hide("blind");
                    $("#patient_form").show("blind");
                } else {
                    $("#underage_msg").show();
                    $("#patient_form").hide();
                    $("#login_details").hide();
                }
            });
            
            $("#id_country").change(function() {
                $.getJSON( state_lookup_url.replace(999, this.value), function( data ) {
                    var states = $("#id_state");
                    states.empty();
                    $.each( data, function( key, val ) {
                        states.append($('<option>', { value : val.code }).text(val.name));
                    });
                });
            });
            
            $("#id_parent_guardian_country").change(function() {
                $.getJSON( state_lookup_url.replace(999, this.value), function( data ) {
                    var states = $("#id_parent_guardian_state");
                    states.empty();
                    $.each( data, function( key, val ) {
                        states.append($('<option>', { value : val.code }).text(val.name));
                    });
                });
            });
        });    
    </script>
</head>

<body>
    {{form.errors}}
    <br>
    <div class="container">
        <br>
        
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% if field.errors %}
                    <p><strong>{{field.label}}</strong> - {{ field.errors|striptags }}</p>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="alert alert-info">
            <strong>Angelman Registry - Parent Registration</strong>
        </div>

        <div id="underage_msg">
            <div class="alert alert-danger">
                For legal reasons you must be 18 or over in order to register here. If you are the parent or guardian of a child that you would like to register as a patient, please enter your own data in this first step. You will be asked for the patient’s data in a later step. If you are a patient who is under 18, please get your parent or guardian to fill in this form with you.
            </div>            
        </div>

        <!-- Registry specific registration form -->
        {% with "registration/registration_form_"|add:registry_code|add:".html" as template_name %}
            {% include template_name %}
        {% endwith %}
 
    </div>
    
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" style="padding-top: 10px;">
            <small>
            <p class="text-justify text-muted">
            Privacy Statement - All information we receive from you will be treated confidentially and will be encrypted and stored on a secure server. Only de-identified health information will be made accessible to qualified researchers who are granted permission by the Steering committee.
            </p>
            </small>
        </div>
    </nav>
    
</body>

</html>
