<html>

<head>
    <title>RDRF | Patient registration</title>
    
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <style>
        body {
            background-color: #edeff1;
        }
    </style>
</head>

<body>
    <br/>
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h3>Thank you for registration.</h3>
            <p>
                We have sent you an email with the confirmation of your registration. Please check your email for activation instructions.
                If you can't see the message in your inbox, please check your spam inbox too.
            </p>
        </div>
    </div>
</body>

</html>