{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Rare Disease Registry Framework - Page Not Found</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/registry.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.3.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/vendor/underscore-1.5.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toggle_disabled.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<style type="text/css">.required:after { content: '*'; margin: 0 0 0 5px; position: absolute; color: #ccc;}</style>
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="{% static 'css/ie6.css' %}"/>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="{% static 'css/ie7.css' %}"/>
<![endif]-->
</head>
 
<body>
	<div id="header" class="header">
<h1>Page Not Found</h1>
</div>

<div id="content" class="colM">

	 
	<p>The page you tried to visit doesn't exist.</p>
	 


</div>

<div id="content" class="colM">

</div>


</body>

</html>
