syntax: glob

*.pyc
*.swp
scripts
data
build
dist
*.rpm
*.log
virt_*/*
django_rdrf.egg-info*
rdrf.egg-info*
rdrf/logs
rdrf/log
rdrf/media
#rdrf/static
^docs/_static
^docs/_build
^docs/_templates
build-number.txt
tests*.xml
*komodo*
.ccgplatform
.idea
.gitignore
.version
*#
*~
flycheck_*
