#
dataselenium:
  extends:
    file: docker-compose-seleniumstack.yml
    service: dataselenium

# runs the lettuce tests against docker-compose-seleniumstack.yml
lettucehost:
  image: muccg/rdrf-dev
  command: lettuce
  environment:
    - DJANGO_SETTINGS_MODULE=rdrf.settings
    - DBUSER=rdrfapp
    - WAIT_FOR_DB=1
    - WAIT_FOR_WEB=1
    - WAIT_FOR_MONGO=1
  volumes_from:
    - dataselenium      
  external_links:
    - angelman_dbselenium_1:db
    - angelman_runserverselenium_1:web
    - angelman_mongoselenium_1:mongo
    - angelman_seleniumhub_1:hub
    - angelman_reportingselenium_1:reporting
