version: '2'
services:

  # data only container pattern
  datadev:
    extends:
      file: docker-compose-common.yml
      service: datadev

  db:
    extends:
      file: docker-compose-common.yml
      service: db

  clinicaldb:
    extends:
      file: docker-compose-common.yml
      service: db
  
  reportingdb:
    extends:
      file: docker-compose-common.yml
      service: db

  cache:
    extends:
      file: docker-compose-common.yml
      service: cache

  nginx:
    extends:
      file: docker-compose-common.yml
      service: nginx
    depends_on:
      - uwsgi

  node:
    image: muccg/rdrf-node
    command: "watch"
    working_dir: /app/rdrf/rdrf/frontend
    environment:
        YARN_CACHE_FOLDER: /opt/yarn_cache
    volumes:
      - ./yarn_cache:/opt/yarn_cache
    volumes_from:
      - datadev

  runserver:
    extends:
      file: docker-compose-common.yml
      service: runserver
    environment:
      - DJANGO_FIXTURES=dev
      - DESIGN_MODE=1
      - PROMS_SITE=0
      - PROMS_SYSTEM_URL=http://test.com
    volumes_from:
      - datadev
    ports:
      - "8000:8000"
    depends_on:
      - db
      - clinicaldb
      - reportingdb
      - cache
    networks:
      default:
        aliases:
          - web

  uwsgi:
    extends:
      file: docker-compose-common.yml
      service: uwsgi
    volumes_from:
      - datadev
    depends_on:
      - db
      - clinicaldb
      - reportingdb
      - cache
