#
dataselenium:
  extends:
    file: docker-compose-common.yml
    service: dataselenium

# runs the lettuce tests against docker-compose-teststack.yml
devlettuce:
  image: muccg/rdrf-dev
  command: lettuce
  environment:
    - DBUSER=rdrfapp
    - WAIT_FOR_RUNSERVER=1
    - WAIT_FOR_DB=1
    - WAIT_FOR_MONGO=1
    - TEST_WAIT=45
    - DEBUG=0
  volumes_from:
    - dataselenium
  external_links:
    - rdrf_runservertest_1:web
    - rdrf_seleniumhub_1:hub
    - rdrf_dbtest_1:db
    - rdrf_mongotest_1:mongo

# runs the lettuce tests against docker-compose-teststack.yml
prodlettuce:
  image: muccg/rdrf-dev
  command: lettuce
  environment:
    - DBUSER=rdrfapp
    - WAIT_FOR_UWSGI=1
    - WAIT_FOR_DB=1
    - WAIT_FOR_MONGO=1
    - TEST_APP_PORT=8443
    - TEST_APP_SCHEME=https
    - TEST_APP_PATH=/app/
    - TEST_WAIT=45
    - DEBUG=0
  volumes_from:
    - dataselenium
  external_links:
    - rdrf_uwsgiprod_1:uwsgi
    - rdrf_seleniumhub_1:hub
    - rdrf_dbprod_1:db
    - rdrf_mongoprod_1:mongo
