{% extends "admin/base_site.html" %}
{% load static %}


{% block extrastyle %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic_formsets_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toggle_disabled.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hgvs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lookup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie_select.js' %}"></script>

    <!--[if IE 8]>
	<script type="text/javascript" src="ie_expand_select_width.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').ieExpandSelectWidth();
		});
	</script>
    <![endif]-->

    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>




    <script>
        function goBack() {
            var warning = confirm("Are you sure?\nAll entered or amended data will be lost!");
            if (warning == true) {
                window.location.replace('{% url 'admin:patients_patient_changelist' %}');
            }
        }
    </script>

  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      showOn: "button",
      buttonImage: '{% static 'images/calendar.gif' %}',
      buttonImageOnly: true,
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      yearRange: '-100:+0',
    });
  });


    // The following "corrects" the behaviour of the "today" button in the jquery datepicker
    // clicking the today button
    $.datepicker._gotoToday = function(id) {
    var target = $(id);
    var inst = this._getInst(target[0]);
    if (this._get(inst, 'gotoCurrent') && inst.currentDay) {
            inst.selectedDay = inst.currentDay;
            inst.drawMonth = inst.selectedMonth = inst.currentMonth;
            inst.drawYear = inst.selectedYear = inst.currentYear;
    }
    else {
            var date = new Date();
            inst.selectedDay = date.getDate();
            inst.drawMonth = inst.selectedMonth = date.getMonth();
            inst.drawYear = inst.selectedYear = date.getFullYear();
            // the below two lines are new
            this._setDateDatepicker(target, date);
            this._selectDate(id, this._getDateDatepicker(target));
    }
    this._notifyChange(inst);
    this._adjustDate(target);
}
  </script>
{% endblock %}


{% block content %}
<h1>Adjudication Initiation Form - {{ adjudication_definition.display_name}}</h1>
<h2>Patient {{patient}}</h2>

<h3>This adjudication is for the following data fields which will be presented to the adjudicators. Note: the patient's name will not be shown.</h3>
<h4>Please note if the patient's data is modified after this adjucation is initiated - the adjudicators will see the latest data!</h4>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>Data Point</th><th>Current Value</th>
    </tr>
    </thead>
 <tbody>
 {% for datapoint in datapoints %}
  <tr><td>{{ datapoint.label}}</td><td>{{datapoint.value}}</td></tr>
{% endfor %}
 </tbody>

</table>

<p>

</p>

<h3>The adjudicators will be asked to rate the following questions:</h3>
{% for question in adjudication_definition.questions %}
{{ question }}<br>
{% endfor %}

<h3>The following users will be sent the adjudication:</h3><p></p>
<form method="post">{% csrf_token %}

    {% for user in users %}
        {% if user != request.user %}
            Send to {{user}}? <input type="checkbox" name="user_{{user.username}}" checked value="{{user.username}}"><br>
        {% endif %}
{% endfor %}

</table>
   {% if groups %}
<h3>The users within the following working groups will be will be sent the adjudication:</h3><p></p>
{% for g in groups %}
    Send to {{g}}? <input type="checkbox" name="group_{{g.name}}" checked value="{{g.name}}"><br>
{% endfor %}
{% endif %}


<p>

{% if not missing_data %}
</p>
    <h3>The adjudications will be judged by user {{ adjudication_definition.adjudicating_username }} with actions:</h3><p></p>
    {% for action in adjudication_definition.actions %}
       {{ action }}
    {% endfor %}

    <p></p>

    <h3>Notification of the result will be sent to you after the ajudicator has assessed the responses.</h3><br>

   <input type="submit" name="Send Adjudication" value="Send Adjudication">

{% else %}

Some data points are missing!<br>
You cannot request adjudication until every field comprising the adjudication has a value.<br>
Enter the missing data and try again.

{% endif %}

</form>
{% endblock %}