{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Application Error</title>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>
<link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="{% static 'suit/js/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>
<script src="{% static 'suit/bootstrap/js/bootstrap.min.js' %}"></script>
<style type="text/css">.required:after { content: '*'; margin: 0 0 0 5px; position: absolute; color: #ccc;}</style>

<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="{% static 'css/ie6.css' %}"/>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="{% static 'css/ie7.css' %}"/>
<![endif]-->
</head>
<body>
<div class="control-label">
    {{ application_error }}
</div>

</body>
</html>