{% extends "rdrf_cdes/base_form.html" %}
{% block title %}{{registry|upper}} Approval{% endblock %}
{% block header %}
<div id="branding" class="branding">
    <h1 id="site-name">{{registry|upper}} Registry</h1>
</div>

<div class="header-content header-content-third">
    <h2>{{form_display_name|upper}}</h2>
</div>
{% endblock %}
{% block content_header %}
Review Questionnaire Response
{% endblock %}


{% block specialisation %}
<label for="working_group" class="col-sm-2 control-label">Assign to working group</label>
<select name="working_group" id="working_group">
    {% for working_group in working_groups %}
    <option value="{{working_group.code}}">{{working_group.desc}}</option>
    {% endfor %}
</select>
<script>
     $(document).ready(function ()
    {

        $("#submit_button").val("Approve");

        var reject_button = $("#submit_button").clone();

        reject_button.val("Reject").insertAfter($("#submit_button"));

        reject_button.on("click",function (){
            $('<input>').attr({
                type: 'hidden',
                id: 'reject',
                name: 'reject',
                value: 'reject',

            }).appendTo('form');
            $('form').submit();
        })

        $("#working_group").appendTo('form');



    })
</script>
{% endblock %}