{% load static from staticfiles %}
{% load admin_urls %}
{% load get_form %}
{% load get_forms %}
{% load get_elements %}
{% load i18n %}
{% load project_logo %}
{% load project_logo_link %}
{% load project_stylesheet %}
{% load project_title %}
{% load project_title_link %}
{% load translate %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% trans "Rare Disease Registry Framework" %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rdrf.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple-sidebar.css' %}" media="all">

    {% project_stylesheet as PSS %}
    {% if PSS %}
    {% static "" as baseUrl %}
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/{{ PSS }}" media="all">
    {% endif %}

    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.11.4.min.js' %}"></script>

    {% if request.LANGUAGE_CODE.lower != "en" %}
    {% static "" as baseUrl %}
    <script src="{{ baseUrl }}/js/vendor/i18n/datepicker-{{ request.LANGUAGE_CODE }}.js"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toggle_disabled.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-1.5.2.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/rpc_module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rdrf.js' %}"></script>
    <script type="text/javascript">var django = { $: $.noConflict() }; if (!$) $ = django.$; </script>

    {% block extrastyle %}
    {% endblock %}

    {% block extrahead %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            $("#submit-btn").click(function () {
                $("#main-form").submit();
            });

            hide_empty_menu();
        });
    </script>

</head>

<body>


    <div id="wrap">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <div class="col_project_header">
                                {% project_logo as PL %}
                                {% if PL %}
                                {% static "" as baseUrl %}
                                <a href="{% project_logo_link %}" target="_blank">
                                    <img src="{{ baseUrl }}/{{ PL }}" class="project_logo">
                                </a>
                                {% project_title as PT %}
                                {% if PT %}
                                <a class="navbar-brand project_title" href="{% project_title_link %}">
                                    {% project_title %}
                                </a>
                                {% endif %}
                                {% else %}
                                <a class="navbar-brand" href="{% project_title_link %}">
                                    {% project_title %}
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                {% if request.user.is_authenticated %}
                                {% block parent_menu %}
                                {% endblock %}

                                {% if request.user.registry_code %}
                                {% if request.user.is_parent %}
                                <li><a href="{% url 'parent_page' request.user.registry_code %}"><span class="glyphicon glyphicon-home"></span>
                                        {% trans "Home Page" %}</a></li>
                                {% elif request.user.is_patient %}
                                <li><a href="{% url 'patient_page' request.user.registry_code %}"><span class="glyphicon glyphicon-home"></span>
                                        {% trans "Home Page" %}</a></li>
                                {% endif %}
                                {% endif %}

                                {% block actions %}
                                {% endblock %}

                                {% block formlinks %}
                                {% endblock %}

                                <li class="dropdown dropdown-menu-button">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">
                                        <span class="glyphicon glyphicon-tasks"></span> {% trans 'Menu' %}<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% for quick_link in request.user.menu_links %}
                                        <li><a href="{{quick_link.url}}">{% trans quick_link.text %}</a></li>
                                        {% endfor %}
                                        {% block extra_menu %}
                                        {% endblock %}
                                    </ul>
                                </li>

                                {% if request.user.is_superuser %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">
                                        <span class="glyphicon glyphicon-wrench"></span> {% trans 'Settings' %}<span
                                            class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% for quick_link in request.user.settings_links %}
                                        <li><a href="{{quick_link.url}}">{{quick_link.text|translate}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">
                                        {% if request.user.is_parent %}
                                        <span class="glyphicon glyphicon-user"></span> {{ parent.first_name }}
                                        {{ parent.last_name }} <span class="caret"></span></a>
                                    {% else %}
                                    <span class="glyphicon glyphicon-user"></span> {{ request.user.first_name }}
                                    {{ request.user.last_name }} <span class="caret"></span></a>
                                    {% endif %}
                                    <ul class="dropdown-menu" role="menu">
                                        {% if request.user.is_superuser %}
                                        <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-wrench"></span>
                                                {% trans 'Admin Page' %}</a></li>
                                        <li class="divider"></li>
                                        {% endif %}
                                        {% if request.user.is_parent and registry_code %}
                                        <li><a href="{% url 'parent_edit' registry_code parent.id %}"><span class="glyphicon glyphicon-wrench"></span>
                                                {% trans 'Account' %}</a></li>
                                        {% endif %}
                                        {% if enable_pwd_change %}
                                        <li><a href="{% url 'password_change' %}"><span
                                                    class="glyphicon glyphicon-random"></span>
                                                {% trans 'Change Password' %}</a></li>
                                        {% endif %}
                                        {% if user.is_verified %}
                                        <li><a href="{% url 'two_factor:disable' %}"><span class="glyphicon glyphicon-remove"></span>
                                                {% trans "Disable two-factor auth" %}</a></li>
                                        {% else %}
                                        <li><a href="{% url 'two_factor:setup' %}"><span class="glyphicon glyphicon-ok"></span>
                                                {% trans "Enable two-factor auth" %}</a></li>
                                        {% endif %}
                                        <li><a href="{% url 'logout' %}?next={% url 'login_router' %}"><span class="glyphicon glyphicon-log-out"></span>
                                                {% trans 'Logout' %}</a></li>

                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="{% url 'two_factor:login' %}?next={% url 'login_router' %}"><span class="glyphicon glyphicon-log-in"></span>
                                        {% trans 'Log in' %}</a></li>
                                {% endif %}
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </div>
            </div>
        </nav>

        {% if location %}
        <div class="banner">
            <!-- one col banner -->
            <div class="container">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <p>
                        <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            {% block location %}
                            {{ location|safe }}
                            {% endblock %}
                        </h3>
                    </p>
                    {% if patient_link %}
                    {{ patient_link | safe}}
                    {% elif patient %}
                    <i class="text-muted"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ patient
                        }}</i>
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: right">
                    {% block formbtns %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container" style="padding-top: 110px;">
            {% if messages %}
            <div class="header">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% include 'rdrf_cdes/archive_modal.html' %}

                    {% if header %}
                    <div class="panel panel-info">
                        <div class="panel-body">
                            {{ header|safe }}
                        </div>
                    </div>
                    {% endif %}

                    {% endblock%}
                </div>
            </div>
        </div>
    </div>

    {% include 'rdrf_cdes/footer.html' %}

</body>

</html>