<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load staticfiles %}
{% load admin_urls %}
{% load get_form %}
{% load get_forms %}
{% load get_form_var %}
{% load is_formset %}
{% load get_elements %}
{% load get_management_form %}
{% load get_display_name %}
{% load lookup %}
{% load add_attr %}
{% load widget_name%}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>

        <title>{% block title %}Registry Title{% endblock %}</title>
    
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

        <script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dynamic_formsets_plugin.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/form.js' %}"></script>

    </head>

    <body style="background-color: #edeff1; padding-top: 80px;">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">{% block header %}header{% endblock %}</div>
                </div>
            </div>
        </div>

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            
            <div class="alert alert-danger">Red fields are required</div>
        </div>
        
        <div class="container" style="padding-bottom: 20px;">
            <form enctype="multipart/form-data" class="form" method="post">{% csrf_token %}
            
                {% for s in sections %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>{{display_names|get_display_name:s}}</b>
                        </div>
                        <div class="panel-body">
                            {% if forms|is_formset:s %}
                                <!-- start management form for {{s}}-->
                                {{ forms|get_management_form:s }}
                                <!-- end management form for {{s}} -->
                                <a href="#" id="add_button_for_section_{{s}}" class="btn btn-success btn-small"><i class="icon-white icon-plus"></i> Add</a>
                                <table class="table" id="section_table_{{s}}">
                                    <script>
                                        $(document).ready(function() {
                                            $("#section_table_{{s}}").allow_dynamic_formsets({
                                                cde_codes: '{{section_field_ids_map|lookup:s}}',
                                                add_button_id: "add_button_for_section_{{s}}",
                                                remove_button_id: "remove_button_for_section_{{s}}",
                                                table_id: "section_table_{{s}}",
                                                total_forms_id: "{{total_forms_ids|lookup:s}}",
                                                initial_forms_id: "{{initial_forms_ids|lookup:s}}",
                                                formset_prefix: "{{formset_prefixes|lookup:s}}"
                                            });
                                        });
                                    </script>
                                    {% for f in forms|get_forms:s %}
                                        {{ f.as_table }}
                                        <tr id="remove_formset_{{s}}_{{forloop.counter0}}" class="actionbutton">
                                            <td onclick="do_remove(this,'section_table_{{s}}',{{section_element_map|lookup:s|length}},'id_formset_{{s}}-TOTAL_FORMS','id_formset_{{s}}-INITIAL_FORMS');"><a href="#" class="btn btn-danger btn-small">
                                                <i class="icon-white icon-minus"></i> Remove</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                <table class="table table-bordered table-hover table-condensed">
                                    {% autoescape off %}
                                        {% get_form_var forms s as form %}
                                        {% for field in form %}
                                            <tr class="{{ field.field.required|yesno:"danger," }}">
                                                <td style="width: 40%; vertical-align: middle;">{{ field.label }}</td>
                                                <td>
                                                    {% if field|widget_name != 'MultipleChoiceField' %}
                                                        {{field|add_attr:"class,form-control"}}
                                                    {% else %}
                                                        {{field}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endautoescape %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <input id="submit_button" type="submit" class="btn btn-primary btn-small pull-right" value="Save"/>
            </form>
        </div>

    </body>
</html>