{% extends "rdrf_cdes/base-1-col.html" %}
{% block content %}
<h2>{{custom_action.name}} - <span id="status_heading">getting the report ready ...</span></h2>
{% if patient_model %}
<h3>for {{patient_model}}</h3>
{% endif %}
<h4>Task ID: {{task_id}}</h4>

<div id="statusdiv">
</div>

<script>
  var messages = {
      waiting: "<p>Waiting for task to complete...</p>",
      finished: "<p>Task completed - download result here: </p>",
      error: "<p>There was an error checking the result.</p>"
  }

  var taskFinished = false;
  
  function createLink(result) {
      return "<a id='download_link' href='" + result.download_link + "'>Download result (Note: the report will be deleted from the server once downloaded.)</a>"
  }

  function checkTask() {
      console.log("checking task ...");
      const url = "{{task_api_url}}"; 
      $.getJSON(url, function(result) {
	  if (result.status == "completed") {
	      console.log("task completed");
	      taskFinished = true;
	      $("#statusdiv").html(messages.finished + createLink(result));
	      $("#status_heading").html("ready to download")
	  }
	  else if (result.status == "error") {
	      taskFinished = true;
	      $("#statusdiv").html("<b> The task failed</b>");
	  }
	  else {
	      $("#statusdiv").html(messages.waiting);
	  }
      }).fail(function(jqxhr, textStatus, error){
          if (error=="Forbidden") {
              if ($("#download_link").length){
                window.location.href = $("#download_link").attr("href");
              } else {
                location.reload();
              }
          };
      });
      if (taskFinished == false){
        setTimeout(checkTask, 15000);
      }
  }
  if (taskFinished == false){
      $(document).on("ready", checkTask);
  }
</script>
{% endblock %}
