{% extends "rdrf_cdes/base-1-col.html" %}
{% block content %}
<h2>Waiting for {{custom_action.name}}</h2>
{% if patient_model %}
<h3>for {{patient_model}}</h3>
{% endif %}
<h4>Task ID: {{task_id}}</h4>

<div id="statusdiv">
</div>

<script>
  var messages = {
      waiting: "<p>Waiting for task to complete</p>",
      finished: "<p>Task completed - download result here: </p>",
      error: "<p>There was an error checking the result</p>"
  }

  var taskFinished = false;
  

  function createLink(result) {
      return "<a href='" + result.download_link + "'>Download result</a>"
  }
  function checkTask() {
      console.log("checking task ...");
      const url = "{{task_api_url}}"; 
      $.getJSON(url, function(result) {
	  if (result.status == "completed") {
	      console.log("task completed");
	      taskFinished = true;
	      $("#statusdiv").empty().append(messages.finished + createLink(result));
	  }
	  else if (result.status == "error") {
	      taskFinished = true;
	      $("#statusdiv").empty().append("<b>The task failed</b>");
	  }
	  else {
	      $("#statusdiv").empty().append(messages.waiting);
	  }
      });

      setTimeout(checkTask, 15000);
  }

  $(document).on("ready", checkTask);
  
</script>

{% endblock %}
