{% extends "rdrf_cdes/base-1-col.html" %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/jquery-1.12.1/themes/smoothness/jquery-ui.min.css' %}">
{% endblock %}
{% block content %}
<script type="text/javascript" nonce="{{request.csp_nonce}}">
  $(document).ready(function(){
      $(document).find( ".datepicker" ).each(function() {
           $(this).on("mouseover", function() {
           $(this).datepicker({
               changeMonth: true,
               changeYear: true,
               dateFormat: 'dd-mm-yy',
               yearRange: '-100:+0',
               buttonImage: "{% static 'images/calendar.gif' %}",
               buttonImageOnly: true,
               "dayNamesShort": $.datepicker.regional['{{request.LANGUAGE_CODE.lower}}' ].dayNamesShort,
               "dayNames": $.datepicker.regional['{{request.LANGUAGE_CODE.lower}}' ].dayNames,
               "monthNamesShort": $.datepicker.regional['{{request.LANGUAGE_CODE.lower}}'].monthNamesShort,
               "monthNames": $.datepicker.regional[ '{{request.LANGUAGE_CODE.lower}}' ].monthNames
                });
            });
      });
  });
</script>
<h2>{{custom_action.name}}</h2>
<form method="post">{% csrf_token %}
{{ input_form }}
<input type="submit">
</form>
{% endblock %}
