{% load staticfiles %}
{% load admin_urls %}
{% load get_form %}
{% load get_display_name %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Rare Disease Registry Framework</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/registry.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>
<link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toggle_disabled.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'suit/js/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>
<script src="{% static 'suit/bootstrap/js/bootstrap.min.js' %}"></script>
<style type="text/css">.required:after { content: '*'; margin: 0 0 0 5px; position: absolute; color: #ccc;}</style>
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="{% static 'css/ie6.css' %}"/>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="{% static 'css/ie7.css' %}"/>
<![endif]-->
</head>
<body>
  <!-- Header -->
    <div id="header" class="header">
        <div id="branding" class="branding">
            <h1 id="site-name">Rare Disease Registry Framework</h1>
        </div>

        <div id="user-tools">
            Welcome,
            <strong>{{user}}</strong>.
                <a href="{% url 'admin:password_change' %}">Change password</a> /
                <a href="{% url 'django.contrib.auth.views.logout' %}?next=/">Log out</a>
        </div>
    </div>
    <!-- END Header -->

    <div id="content" class="colM">
        {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <h1>Welcome to RDRF {{user_obj}}!</h1>
        <hr>
        {% for reg in user_obj.registry.all %}
            <div class="inline-group">
                <h2>{{reg.name}}</h2>
                <table>
                    <tr>
                        <td>
                        <select id="p_{{reg.id}}">
                            <option id="-1">--- Patient ---</option>
                            {% for patient in patients.all %}
                                {% for r in patient.rdrf_registry.all %}
                                    {% if r.id == reg.id %}
                                        <option id="{{patient.id}}">{{patient.family_name}} {{patient.given_names}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <script>
                                $(document).ready(function() {
                                    $('#p_{{reg.id}}').on('change', function() {
                                        var id = $(this).children(":selected").attr("id");
                                        var form_id = $('#f_{{reg.id}}').children(":selected").attr("id");
                                        check_for_btn(id, form_id, '#b_{{reg.id}}')
                                    });
                                });
                            </script>
                        </select>
                        </td>
                        <td>
                        <select id="f_{{reg.id}}">
                            <option id="-1" value="">--- Form ---</option>
                            {% for form in rdrf_forms.all %}
                                {% if form.registry.id == reg.id %}
                                <option id="{{form.id}}">{{form.name}}</option>
                                {% endif %}
                            {% endfor %}
                            <script>
                                $(document).ready(function() {
                                    $('#f_{{reg.id}}').on('change', function() {
                                        var id = $(this).children(":selected").attr("id");
                                        var patient_id = $('#p_{{reg.id}}').children(":selected").attr("id");
                                        check_for_btn(id, patient_id, '#b_{{reg.id}}')
                                    });
                                });
                            </script>
                        </select>    
                        </td>
                        <td>
                            <input type="button" class="btn btn-info btn-small" disabled=true value="Load" id="b_{{reg.id}}" />
                            <script>
                                $(document).ready(function() {
                                   $('#b_{{reg.id}}').on('click', function() {
                                        var form_id = $('#f_{{reg.id}}').children(":selected").attr("id");
                                        var patient_id = $('#p_{{reg.id}}').children(":selected").attr("id");
                                        var loc = window.location.toString();
                                        var s = '{{reg.code}}/forms/' + form_id +'/'+ patient_id;
                                        var f = loc.replace("dashboard", s);
                                        window.open(f);
                                   });
                                });
                            </script>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}            
    </div>
</body>
</html>