{% load version_number %}
{% load i18n %}

<div class="footer-wrap">
  <div class="row">
    <div class="col-md-4 version">
      <div>
          <i class="icon-wrench"></i> {% trans "Version" %} {% version_number %}
      </div>
    </div>
    <div class="col-md-4 disclaimer">
      <div>
          <a href="http://www.murdoch.edu.au/copy/copy.html" target="_blank">{% trans "Disclaimer &amp; Copyright Notice</a>" %} &copy; 2013-<script>document.write(new Date().getFullYear())</script> 
          <a href="http://www.murdoch.edu.au" target="_blank">{% trans "Murdoch University" %}</a><br>
          <a href="https://muccg.github.io/rdrf/" target="_blank">{% trans "RDRF Project" %}</a> |
          <a href="mailto:rdrf@ccg.murdoch.edu.au">{% trans "Email RDRF" %}</a>
      </div>
      {% if request.user.is_authenticated and cic_system_role %}
        <div>
            <a href="{% url 'copyright' %}">Data set Copyright</a>
        </div>
      {% endif %}
    </div>
    
    <div class="col-md-4 authorised">  
      <div>
          {% trans "Authorised by" %}: <a href="mailto:mbellgard@ccg.murdoch.edu.au"> Prof. Matthew Bellgard</a>;<br> {% trans 'Director' %}, <a href="http://ccg.murdoch.edu.au/">CCG</a><br>
      </div>
    </div>
  </div>
</div>
