{% load version_number %}

<div id="footer" class="footer">
  <div class="content">

    <div class="tools">
        <a href="mailto:rdrf@ccg.murdoch.edu.au" class="icon"><i class="icon-question-sign"></i>Support</a>
        <a href="https://ccgmurdoch.atlassian.net/browse/RDR" target="_blank" class="icon"><i class="icon-comment"></i>Report a bug</a>
        <i class="icon-wrench"></i> Version {% version_number %}
    </div>

    <div class="copyright">
        <a href="http://www.murdoch.edu.au/copy/copy.html" target="_blank">Disclaimer &amp; Copyright Notice</a> &copy; 2013 2014 
        <a href="http://www.murdoch.edu.au" target="_blank">Murdoch University</a><br>
        <a href="http://rare-disease-registry-framework.readthedocs.org/en/latest/" target="_blank">Documentation</a> | 
        <a href="https://bitbucket.org/ccgmurdoch/rdrf" target="_blank">Source Code on BitBucket</a> |
        <a href="mailto:rdrf@ccg.murdoch.edu.au">Email RDRF</a>
    </div>

    <div class="branding">
        Authorised by: <a href="mailto:mbellgard@ccg.murdoch.edu.au"> Prof Matthew Bellgard</a>;<br> Director, <a href="http://ccg.murdoch.edu.au/">CCG</a><br>
    </div>
  </div>
</div>
