{% extends "rdrf_cdes/base.html" %}
{% load get_display_name %}
{% load get_section_id %}
{% load is_formset %}
{% load get_management_form %}
{% load lookup %}
{% load get_forms %}
{% load get_form %}
{% load static %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrastyle %}
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic_formsets_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toggle_disabled.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hgvs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lookup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie_select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/generic_validator.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/variation/variation.css' %}" media="all">
    
    <!--[if IE 8]>
	<script type="text/javascript" src="ie_expand_select_width.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').ieExpandSelectWidth();
		});
	</script>
    <![endif]-->


    <script type="text/javascript">
        window.IMAGES_URL = "{% static 'images/' %}";
        window.HGVS_URL = "{% url 'hgvs_validator' %}";
    </script>

    <style>
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
          /* IE 6 doesn't support max-height
           * we use height instead, but this forces the menu to always be this tall
           */
          * html .ui-autocomplete {
            height: 100px;
        }
        
        ul {
            list-style-type: none;
            margin-left: 0;
        }
        
        table {
            table-layout: fixed;
        }
    </style>
    
    <script>
        function goBack() {
            var warning = confirm("Are you sure?\nAll entered or amended data will be lost!");
            if (warning == true) {
                window.location.replace('{% url 'admin:patients_patient_changelist' %}');
            }
        }
    </script>
    
    <script>
    $(function() {
        $( ".datepicker" ).datepicker({
            showOn: "button",
            buttonImage: '{% static 'images/calendar.gif' %}',
            buttonImageOnly: true,
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            yearRange: '-100:+0',
        });
    });


    // The following "corrects" the behaviour of the "today" button in the jquery datepicker
    // clicking the today button
    $.datepicker._gotoToday = function(id) {
        var target = $(id);
        var inst = this._getInst(target[0]);
        if (this._get(inst, 'gotoCurrent') && inst.currentDay) {
                inst.selectedDay = inst.currentDay;
                inst.drawMonth = inst.selectedMonth = inst.currentMonth;
                inst.drawYear = inst.selectedYear = inst.currentYear;
        }
        else {
                var date = new Date();
                inst.selectedDay = date.getDate();
                inst.drawMonth = inst.selectedMonth = date.getMonth();
                inst.drawYear = inst.selectedYear = date.getFullYear();
                // the below two lines are new
                this._setDateDatepicker(target, date);
                this._selectDate(id, this._getDateDatepicker(target));
        }
        this._notifyChange(inst);
        this._adjustDate(target);
    }
    
    {% if user.is_superuser and has_form_progress %}
        $(function() {
            $( "#form-progress" ).progressbar({
                value: {{form_progress}}
            });
        });
    {% endif %}
    
    $(document).ready(function(){
        $("#form-progress-cdes").hide();
        
        $("#show-cdes-btn").click(function() {
            $("#form-progress-cdes").toggle("fast");
        });
    });
    </script>
{% endblock %}


{% block formlinks %}
        <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="glyphicon glyphicon-list"></span>Modules<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'patient_edit' registry patient_id %}"><span class="glyphicon glyphicon-minus"></span>Demographics</a></li>
                    {% for form_link in form_links %}
                    <li><a href="{{form_link.url}}"><span class="glyphicon glyphicon-minus"></span>{{form_link.text}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
{% endblock %}

{% block content %}
<br>
<div class="row">
<div class="col-md-10">
        <form class="form-horizontal" enctype="multipart/form-data" method="post">{% csrf_token %}


            {% if has_form_progress %}
                <div class="well">
                    <h4>Data entry progress: <font color="green">{{form_progress|floatformat:"0"}}%</font> <input type="button" class="btn btn-info" id="show-cdes-btn" value="Required CDEs" /></h4>
                    <div id="form-progress"></div>
                    <div id="form-progress-cdes">
                        </br>
                        {% for fpc in form_progress_cdes.items %}
                            <p>
                                {% if fpc.1 %}
                                    <img src='{% static 'images/tick.png'%}'>
                                {% elif fpc.1 == False %}
                                    <img src='{% static 'images/cross.png'%}'>
                                {% endif %} {{fpc.0}}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% for s in sections %}
            <table class="table table-striped">

                <thead>
                    <tr>
                        {% if request.user.is_superuser %}
                            <th><a target="_blank" href="{% url 'admin:rdrf_section_change' section_ids|get_section_id:s %}">{{display_names|get_display_name:s}}</a></th>
                        {% else %}
                            <th>{{display_names|get_display_name:s}}</th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>
                            {% if forms|is_formset:s %}
                            <!-- start management form for {{s}}-->
                            {{ forms|get_management_form:s }}
                            <!-- end management form for {{s}} -->
                            <button type="button" id="add_button_for_section_{{s}}"  class="btn btn-success btn-small"><i class="icon-white icon-plus"></i> Add</button>
                            <table id="section_table_{{s}}">
                            <script>
                                $(document).ready(function() {
                                    $("#section_table_{{s}}").allow_dynamic_formsets({
                                        cde_codes: '{{section_field_ids_map|lookup:s}}',
                                        add_button_id: "add_button_for_section_{{s}}",
                                        remove_button_id: "remove_button_for_section_{{s}}",
                                        table_id: "section_table_{{s}}",
                                        total_forms_id: "{{total_forms_ids|lookup:s}}",
                                        initial_forms_id: "{{initial_forms_ids|lookup:s}}",
                                        formset_prefix: "{{formset_prefixes|lookup:s}}",
                                        metadata_json: '{{metadata_json_for_sections|lookup:s|safe}}'
                                    });
                                });
                            </script>

                            {% for f in forms|get_forms:s %}
                              {{ f.as_table }}
                              <tr id="remove_formset_{{s}}_{{forloop.counter0}}" class="actionbutton">
                                <td onclick="do_remove(this,'section_table_{{s}}',{{section_element_map|lookup:s|length}},'id_formset_{{s}}-TOTAL_FORMS','id_formset_{{s}}-INITIAL_FORMS');"><button type="button" class="btn btn-danger btn-small"><i class="icon-white icon-minus"></i> Remove</button>
                                </td>
                              </tr>
                            {% endfor %}

                            </table>
                          {% else %}
                            <table class="table table-condensed table-hover">
                              {{forms|get_form:s}}
                            </table>
                          {% endif %}
                        </th>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
  </div>

  <div class="col-md-2">
                    <div data-spy="affix" style="width: 150px;">
                        <button type="submit" class="btn btn-success btn-block" value="Save">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                        </button>
                        <a href="" class="btn btn-danger btn-block">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                        </a>
                    </div>
            </div>

    </form>




 </div>


<script>
  $(document).ready(function () {
    $("label:not(li label)").addClass("col-sm-2 control-label");
    $(":input").addClass("form-control");
    $("label[for*='-clear']").removeClass();
  })
</script>



        {% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert alert-error">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-error">
      <strong>{{ error|escape }}</strong>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}


