{% load static %}
<button type="button" class="contextmenu btn btn-primary btn-xs" data-toggle="popover" data-html="true" data-content="
<div class=&quot;panel panel-default&quot;>
  <div class=&quot;panel-heading&quot;>
    <b>{{heading}}</b>
  </div>
  <div class=&quot;panel-body&quot;>
    
                
                    <img src=&quot;/ophg/static/images/tick.png&quot;>
                <b>10%</b> <a href=&quot;/ophg/DM1/forms/40/477/103&quot;>Clinical Data</a> <br>
    
                
                    <img src=&quot;/ophg/static/images/tick.png&quot;>
                <b>14%</b> <a href=&quot;/ophg/DM1/forms/39/477/103&quot;>Genetic Data</a> <br>
    
  </div>
</div>
" id="forms_button_{{id}}" data-original-title="" title="">{{button_caption}}</button>
<!-- forms button for a context group -->
{% load static %}
<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{ heading }}</b>
  </div>
  <div class="panel-body">
    
    {% for form in forms %}
                {% if form.current %}
                    <img src="{% static 'images/tick.png' %}">
                {% else %}
                    <img src="{% static 'images/cross.png' %}">
                {% endif %}<b>{{form.progress_percentage}}%</b> <a href="{{form.link}}">{{form.title}}</a> <br>
    {% endfor %}
  </div>
</div>
