{% extends "admin/base_site.html" %}

{% load staticfiles %}
{% load admin_urls %}
{% load get_form %}
{% load get_display_name %}

{% block extrastyle %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#import-msg').hide();
        $('#submit-form-btn').click(function() {
            $('#import-msg').show();
            $('#import-form').submit();
        });
    });
</script>
{% endblock %}

{% block content %}
    {% if state == "fail" %}
        <div class="alert alert-danger">Import Failed</div>
    {% endif %}
    {% if state == "success" %}
        <div class="alert alert-success">Import Succeeded</div>
    {% endif %}    
    
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Please load from file OR paste in the text area
    </div>
    
    <form enctype="multipart/form-data" method="post" id="import-form">{% csrf_token %}
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>Registry YAML</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <input type="file" id="id_registry_yaml_file" name="registry_yaml_file" accept=".yaml"></input>
                    </th>
                </tr>
                <tr>
                    <th>
                        <textarea cols="100" id="id_registry_yaml" name="registry_yaml" rows="10"></textarea>
                    </th>
                </tr>
            </tbody>
        </table>
        <input type="submit" id="submit-form-btn" class="btn btn-primary pull-right" value="Submit" />
    </form>
    
    <h2 class="muted" id="import-msg">Importing, please wait...</h2>
{% endblock %}
