{% extends "rdrf_cdes/base.html" %}

{% load staticfiles %}
{% load admin_urls %}
{% load get_form %}
{% load get_display_name %}

{% block header %}
        <div id="branding" class="branding">
            <h1 id="site-name">Rare Disease Registry Framework</h1>
        </div>

         <div class="header-content header-content-third">
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>

        <div id="user-tools">
            Welcome,
            <strong>{{user}}</strong>.
                <a href="{% url 'admin:password_change' %}">Change password</a> /
                <a href="{% url 'django.contrib.auth.views.logout' %}?next={% url 'landing' %}">Log out</a>
        </div>
{% endblock %}

{% block content %}
    <br>
    <div class="panel panel-default">
    <div class="panel-heading">Import Registry File</div>
    <div class="panel-body">
        {% if state == "ready" %}
           <form enctype="multipart/form-data" method="post">{% csrf_token %}
               <p><label for="id_registry_yaml">Registry YAML:</label> <textarea class="form-control" cols="50" id="id_registry_yaml" name="registry_yaml" rows="20">
               </textarea></p>
               <input type="submit" class="btn btn-primary pull-right" value="Submit" />
           </form>
        {% endif %}
    
        {% if state == "fail" %}
          <h2>Import Failed</h2>
        {% endif %}
        {% if state == "success" %}
          <h2>Import Succeeded</h2>
        {% endif %}
    </div>
    </div>
        
{% endblock %}