{% extends "rdrf_cdes/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script>
        $(document).ready(function() {
            $(":input").not(':input[type=checkbox], :input[type=radio], :input[type=button], :input[type=submit], :input[type=reset]').addClass("form-control");
            
            $(document).find("input[name*='date']").each(function() {
                var cal_group = $("<label for='"+$(this).prop("id")+"' class='input-group-addon btn'><span class='glyphicon glyphicon-calendar'></span></label>");
                $(this).wrap("<div class='input-group'></div>");
                cal_group.insertAfter($(this));
                
                $(this).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'yy-mm-dd',
                    yearRange: '-100:+0'
                });
            });
            
            $.get("{% url 'v1:clinician_list' registry_code %}", function(data) {
                clinician_drop = $("#id_clinician");
                $.each($.parseJSON(data), function(i, item){
                    clinician_drop.append($('<option>', { value : item.id }).text(item.full_name)); 
                });
                clinician_drop.append($('<option>', { value : 'clinician-other' }).text('Other - not listed'));
            });
        });
        
        function select_country(obj) {
            state_id = obj.id.replace("country", "state");
            state_select = $('#' + state_id);
            state_select.find('option').remove();
            $.get( "{% url 'v1:state_lookup' 'XX' %}".replace('XX', obj.value), function( data ) {
                if (data) {
                    $.each(data, function(i, item) {
                        state_select.append("<option value=" + item.code +">"+ item.name +"</option>");
                    })
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p><h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Parent Details</h3></p>
            <i class="text-muted"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ parent.first_name }} {{  parent.last_name }}</i>
        </div>
    </div>
    <br>
    <form class="form-horizontal date-form" method="POST">
        {% csrf_token %}
        {% for field in parent_form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label for="{{field.id_for_label}}" class="col-md-3 col-md-offset-1 control-label">{% if field.field.required %}<span class="glyphicon glyphicon-asterisk" style="color: red" aria-hidden="true"></span>{% endif %} {{field.label}}</label>
                <div class="col-md-6">
                    {{ field }}
                </div>
                <div class="col-md-2">
                    {% if field.errors %}<span class="label label-danger">{{field.errors.as_text}}</span>{% endif %}
                </div>
            </div>
        {% endfor %}
        {% if not parent.self_patient %}
            <hr>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-1 control-label"><strong>I am a patient</strong></div>
                <div class="col-md-6">
                    <input type="checkbox" name="self_patient_flag" id="self_patient_flag">
                </div>
            </div>

            <div class="form-group">
                <label for="clinician" class="col-md-3 col-md-offset-1 control-label">Clinician</label>
                <div class="col-md-6">
                    <select class="form-control" id="id_clinician" name="clinician" required>
                        <option value="-1">Choose your preferred Clinician</option>
                    </select>
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-success pull-right" value="Save">
            </div>
        </div>
    </form>
{% endblock %}
