{% extends "rdrf_cdes/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
<link href="{% static 'css/jquery.bootgrid.css' %}" rel="stylesheet">
 <script src="{% static 'js/jquery.bootgrid.js' %}"></script>
{% endblock %}
{% block content %}
        <table id="grid" class="table table-condensed table-hover table-striped" width="100%">
            <thead>
                <tr>
                    <th data-column-id="id" data-formatter="id">Demographics</th>
                    <th data-column-id="given_names">Given Names</th>
                    <th data-column-id="family_name">Family Name</th>
                    <th data-column-id="working_groups_display">Working Groups</th>
                    <th data-column-id="reg_list">Registry</th>
                    <th data-column-id="date_of_birth">Date of Birth</th>
                    <th data-column-id="diagnosis_progress" data-formatter="diagnosis_progress_formatter">Diagnosis Progress</th>
                    <th data-column-id="genetic_data" data-formatter="genetic_data_formatter">Has Genetic Data</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">Forms</th>

                </tr>
            </thead>
        </table>
        <!-- Scripts -->

        <script>
            $(document).ready(function () {

                $.ajaxSetup({beforeSend: function (xhr) {
                    var csrfToken = '{{ csrf_token }}';
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                }});

                var grid = $('#grid').bootgrid({
                    ajax: true,
                    url: "{% url 'api_get_search' 'v1' 'patient'  %}",
                    responseHandler: function (response) {
                        return response;
                    },

                    formatters: {
                        "id": function (column, row) {
                            var reg_div = $("<div>");
                        
                            row.reg_code.forEach(function(reg) {
                                var link = "{% url 'patient_edit' 888 999 %}".replace("/999", "/" + row.id).replace("/888", "/" + reg);
                                
                                var edit_link = $("<a>");
                                edit_link.attr("href", link);
                                edit_link.attr("class", "btn btn-sm btn-warning btn-block");
                                
                                var pencil_icon = $("<span>").attr("class", "glyphicon glyphicon-pencil");
                                pencil_icon.attr("aria-hidden", "true");
                                
                                edit_link.append(pencil_icon);
                                edit_link.append(" Edit (" + reg + ")");
                                
                                reg_div.append(edit_link);
                            });
                            
                            return reg_div.prop('outerHTML');
                        },

                        "diagnosis_progress_formatter": function(column, row) {
                            var html = "";
                            var inOneRegistry = _.keys(row.diagnosis_progress).length == 1;

                            for (var regCode in row.diagnosis_progress) {
                                var completionString;
                                var percentage = row.diagnosis_progress[regCode].toString();
                                if (!inOneRegistry) {
                                    completionString = regCode.toUpperCase() + ":" + percentage + "%";
                                } else {
                                    completionString = percentage + "%";
                                }

                                var progressBarHtml =
                                        '<div id="progressbar" class="ui-progressbar ' +
                                        'ui-widget ui-widget-content ui-corner-all" role="progressbar" ' +
                                        'aria-valuemin="0" aria-valuemax="100" aria-valuenow="xxx">' +
                                        '<div class="ui-progressbar-value ui-widget-header ' +
                                        'ui-corner-left" style="width: xxx%;">' +
                                                '<div class="progress-label"><b>yyy</b></div>' +
                                                '</div>' +
                                         '</div>';

                                progressBarHtml = progressBarHtml.replace(/xxx/g, percentage).replace(/yyy/g, completionString);

                                html += progressBarHtml + '<br>';
                            }



                            return html;
                        },

                        "genetic_data_formatter": function(column, row) {
                            var html = "";
                            var tickHTML =  '<span class="glyphicon glyphicon-ok"></span>';
                            var crossHTML = '<span class="glyphicon glyphicon-remove"></span>';
                            // If we are in just one registry don't display reg code prefix
                            var inOneRegistry = _.keys(row.genetic_data_map).length == 1;

                            for (var regCode in row.genetic_data_map) {
                                var geneticDataIndicatorHTML;
                                var regHTML;
                                var hasGeneticData = row.genetic_data_map[regCode];
                                if (hasGeneticData) {
                                    geneticDataIndicatorHTML = tickHTML;
                                }
                                else {
                                    geneticDataIndicatorHTML = crossHTML;
                                }

                                if (inOneRegistry) {
                                    regHTML = geneticDataIndicatorHTML;
                                }
                                else {
                                    regHTML = regCode.toUpperCase() + ":" + geneticDataIndicatorHTML;
                                }

                                html += regHTML;
                            }

                            return html;
                        },

                        "commands": function (column, row) {
                            //return row.forms_html
                            return row.forms_html;


                        }

                    }
                }).on("loaded.rs.jquery.bootgrid", function() {
                    $(".rdrflauncher").change(function () {
                        if ($(this).val() != "---") {
                            window.location = $(this).val();
                        }
                    })
                })

                });

        </script>

{% endblock %}