{% extends "rdrf_cdes/base.html" %}

{% block content %}
    <br/>
    
    {% if splash_screen %}
        <div class="well">
            {% autoescape off %}
                {{ splash_screen }}
            {% endautoescape %}
        </div>
    {% endif %}
    
    {% if error_msg %}
        <div class="alert alert-danger">{{error_msg}}</div>
    {% endif %}


    {% if request.user.is_authenticated %}

        {% if is_patient %}
            <div class="alert alert-success">Welcome {{request.user.first_name}}</div>
            
            <p>
                <a href="{% url 'patient_edit' registry_code patient_id %}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit your details
                </a>
            </p>
            
            
            {% if not access %}
                <div class="alert alert-danger">You don't have access to this registry</div>
            {% endif %}
            
            <ul class="list-group">
            {% for form in forms %}
                <li class="list-group-item">{{form.form.name}}<a target="_blank" href="{{ form.link }}" class="btn btn-info btn-xs pull-right" role="button">Access</a></li>
            {% endfor %}
            </ul>
        {% elif is_admin %}
            <div class="alert alert-warning">Place for admins is <a href="{% url 'admin:index' %}">here</a></div>
        {% else %}
            <div class="alert alert-danger">Looks like you are not a patient. Please contact admnistrator!</div>
        {% endif %}
        
    {% else %}
        <div class="alert alert-info">Please log in to access the registry.</div>
    {% endif %}

{% endblock %}