{% extends "rdrf_cdes/base-2-cols.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<script>
  
  $(document).ready(function () {
     $(".well").hide();
     
  });
</script>
{% endblock %}


{% block formbtns %}
	<div class="btn-group" role="group" aria-label="...">
		<button id="submit-btn" type="submit" class="btn btn-success" value="Save">
			<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> {% trans "Save" %}
		</button>

		<a href="" class="btn btn-danger">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Cancel" %}
		</a>

	</div>
{% endblock %}


{% block content %}
{{ block.super }}
{% if request.user.is_authenticated %}
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">Verifications required for {{patient}}</div>
      <div class="panel-body">
	<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Field</th>
      <th scope="col">Patient Value</th>
      <th scope="col">Response</th>
      <th scope="col">New Value</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    {% if form_state == "valid" %}
    <h3>Form saved OK</h3>
    {% endif %}
    {% if form_state == "invalid" %}
    <h3>Form not saved due to errors!</h3>
    {% for error in errors %}
       {{error}}<br>
    {% endfor %}
    {% endif %}
    
    <form id="main-form" method="post">{% csrf_token %}
    {% for field in form %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{field.label}}</td>
      <td>{{field.patient_answer}}<input type="hidden" name="patient_data_{{field.name}}" value="{{field.patient_data}}"></td>
      <td>
	<select id="id_status_{{field.name}}" name="status_{{field.name}}">
	  {% for option in options %}
	      {% if option.0 == field.status %}
	          <option value="{{option.0}}" selected>{{option.1}}</option>
	      {% else %}
	          <option value="{{option.0}}">{{option.1}}</option>
	      {% endif %}
	   {% endfor %}
	  </select>
      </td>
      <td><div id="id_new_value_container_{{field.name}}">{{field|safe}}</div></td>
      <td><textarea name="comments_{{field.name}}">{{field.comments}}</textarea>
      </td>
      
      
    </tr>
    {% endfor %}
    </form>
  </tbody>
</table>
      </div>
    </div> <!-- col -->
</div> <!-- row -->
{% else %}
    <div class="alert alert-info">Please log in to access the registry.</div>
{% endif %}
{% endblock %}
