{% extends "rdrf_cdes/base.html" %}
{% load static from staticfiles %}
{% load has_feature %}

{% block extrastyle %}
    {{ block.super }}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    
    <script>
        $(document).ready(function() {
            if ( {{ registries.0|has_feature:"no_add_patient_button"|yesno:"false,true" }} == false) {
                $("#add_patient").hide();
            }

             $("#add_patient").click(function() {
                                        var registryCode = null;
                                        var addPatientUrl = '{% url "patient_add" "xxx" %}';
                                        try {
                                            registryCode = $("#registry_select").val();
                                            if (registryCode=="---") {
                                                alert("Please select registry first");
                                                return;
                                             }

                                            if (registryCode == undefined) {
                                                registryCode = "{{registries.0.code}}";
                                            }
                                        }
                                        catch(err) {
                                            // one registry ?
                                            registryCode = "{{registries.0.code}}";
                                        }
                                        var location = addPatientUrl.replace("xxx", registryCode);
                                        window.location.replace(location);
                                        });

            var api_url = "{% url 'api_get_search' 'v1' 'patient'  %}";
            var patients_list = $("#patient_list_table").DataTable({
                "ajax": {
                    "url": api_url + "?registry_code={{registries.0.code}}&rowCount=-1",
                    "dataSrc": "rows",
                },
                "columns": {{columns|safe}},
            }).on("draw", function() {
                $("#loading_text").hide();
                $('button[data-toggle=popover]').popover({
                    'html': true,
                    'title': 'Available Modules',
                    'trigger': 'click',
                    'placement': 'bottom',
                    'container': 'body'
                });
            });
            
            $("#registry_options").change(function() {
                $("#loading_text").show();
                var reg_code = $("#registry_options option:selected").attr("id");
                patients_list.ajax.url(api_url + "?registry_code=" + reg_code).load();
            });

            $("#add_patient").click(function() {
                var registryCode = null;
                var addPatientUrl = '{% url "patient_add" "xxx" %}';
                try {
                    registryCode = $("#registry_select").val();
                    if (registryCode=="---") {
                        alert("Please select registry first");
                        return;
                    }
    
                    if (registryCode == undefined) {
                        registryCode = "{{registries.0.code}}";
                    }
                } catch(err) {
                    // one registry ?
                    registryCode = "{{registries.0.code}}";
                }
                    var location = addPatientUrl.replace("xxx", registryCode);
                    window.location.replace(location);
            });
        });
        
    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <p><h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Patient List</h3></p>
            <i class="text-muted"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user.first_name}} {{user.last_name}} ({{user.title}})</i>
        </div>
    </div>

    <hr>

    <div class="clearfix">
        <button id="add_patient" class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
    </div>
    
    <p>
        <select id="registry_options">
            {% for reg in registries %}
                <option id="{{ reg.code }}">{{ reg.name }}</option>
            {% endfor %}
        </select>
        <span id="loading_text"><i>Loading...</i></span>
    </p>

    <table id="patient_list_table" class="table table-striped table-hover">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column.label|safe }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>
{% endblock %}
