{% extends "rdrf_cdes/base-2-cols.html" %}
{% load static %}

{% block extrahead %}
<script>
  $(document).ready(function () {
     $(".well").hide();
  });
</script>
{% endblock %}



{% block content %}

{% if request.user.is_authenticated %}
<div class="row">
  <div class="col-md-10">
    <div class="card card-default">
      <div class="card-heading">Your Patients requiring verifications</div>
      <div class="card-body">
	{% for pv in patient_verifications %}
	<a href="{{pv.link}}">{{pv.title}} 
	</a>
	  <span class="badge rounded-pill bg-danger">{{pv.number_unverified}} unverified</span>
	  <span class="badge rounded-pill bg-success">{{pv.number_verified}} verified</span>
	  <span class="badge rounded-pill bg-warning text-dark>{{pv.number_corrected}} corrected</span>
	  <br>
	{% endfor %}
      </div>
    </div> <!-- col -->
</div> <!-- row -->
{% else %}
    <div class="alert alert-info">Please log in to access the registry.</div>
{% endif %}
{% endblock %}
