{% for action in actions %}
<a href="{{action.link}}">{{action.title}}</a>
{% endfor %}
<hr>

           {% for form in forms %}
                {% if form.current %}
                    <img src="/static/images/tick.png">
                {% else %}
                    <img src="/static/images/cross.png">
                {% endif %}
                <a href="{{form.link}}">{{form.title}}</a>

                <strong><span class="badge">{{form.progress_percentage}}%</span></strong><br>

        {% endfor %}














