{% load static from staticfiles %}
<img alt="Logos" src="{% static 'images/nz_logos.png' %}" class="img-responsive"    />
<br>
<h1>The New Zealand Neuromuscular Disease Registry</h1>
<p></p>
<h2>Participant/Parent Information</h2>
<p></p>
<table border="1" width="50%">
<tr><td>Principal Investigator</td><td align="right">Dr. Richard Roxburgh</td></tr> 
<tr><td>Registry Curator</td><td align="right">Ms. Miriam Rodrigues <a href="mailto:nznmdregistry@adhb.govt.nz">nznmdregistry@adhb.govt.nz</a></td></tr>
<tr><td>Co-Investigators</td><td align="right">Dr. Donald Love</td></tr> 
<tr><td>Co-Investigators</td><td align="right">Dr. Alexa Kidd</td></tr> 
<tr><td>Co-Investigators</td><td align="right">Dr. Rakesh Patel</td></tr> 
</table>

<p></p>
We are inviting you or your child to take part in the New Zealand registry for participants with neuromuscular conditions (NZ NMD Registry). This registry is part of the global family of TREAT-NMD registries, and in New Zealand it is an initiative of the Muscular Dystrophy Association of New Zealand (MDANZ), a not-for-profit registered charity dedicated to supporting people with neuromuscular conditions.
Take your time to read the information and decide whether you wish to take part.
<p></p>
<h4>Introduction</h4>
Neuromuscular diseases are conditions that affect the nerves and muscles. TREAT-NMD is an international network designed to bring together the world’s leading neuromuscular specialists. TREAT-NMD aims to improve standards of care, improve treatment and search for cures for affected participants.
<p></p>
Major progress has been made in recent years towards finding new treatments for diseases like Duchenne muscular dystrophy, spinal muscular atrophy, myotonic dystrophy, facioscapulohumeral muscular dystrophy, Charcot-Marie-Tooth disease and others. Many of these treatments target specific genetic defects, some of which are rare and affect only a few participants in the world. When a trial of these treatments is being planned it is important that suitable participants can be found and contacted quickly. One way of ensuring this can happen is to collect each participant’s details in a participant registry. This contains the important information that researchers will need, such as that participant’s particular genetic test result, and other key information about their disease.
The data held in the registry will also help researchers answer other important questions such as how common these diseases are. It will also be a way to inform participants about the latest information relevant to their disease.
<p></p>
<h4>Am I eligible to participate?</h4>

<p></p>
All people in New Zealand affected by a neuromuscular disease are eligible to register with the NZ NMD Registry. The NZ NMD Registry is sponsored by the MDANZ, but any New Zealand resident can participate in this registry, you do not have to be a member of the MDANZ.
<p></p>

Whether you want to take part or not is entirely your choice and your decision will not affect your future healthcare. If you do agree to take part, you can change your mind at any time and we can remove your information from the registry. If your affected child is able to understand what this registry is about we will also ask for their consent.
<p></p>

<h4>What do I have to do?</h4>

If you agree to participate you will need to sign the consent form and return it to the registry curator along with a registration questionnaire. In this questionnaire you will be asked for some personal details, such as your age and ethnicity, and some information about your disease. The registry will also collect the results of your genetic testing when this has been performed. You may wish to complete the questionnaire with the assistance of your doctor or MDANZ fieldworker. If you are not sure of the answer to any question discuss this with your doctor, MDANZ fieldworker or the registry curator. The registry curator can approach your doctor on your behalf to clarify the answer to any question if required.
<p></p>
The registry curator will be available to discuss any other questions or concerns you have about the questionnaire. You will be requested to update your clinical record once per year. We also request that you contact the registry curator if your contact details change or there are major changes in your clinical condition.
<p></p>

<h4>What happens to the information I provide?</h4>

The information you provide will be stored securely and confidentially in the New Zealand Neuromuscular Disease Registry on computers at Auckland City Hospital and the Office of Population Health Genomics, Perth. No unauthorised people will be able to gain access to any information about you.
<p></p>
In addition if there is an international database for your condition, e.g. the TREAT NMD Duchenne / Becker muscular dystrophy global database, your anonymised information will be forwarded to that database. In these international registries, the clinical and genetic information that you have given to us will be identified only by an anonymous code, not by your name.
<p></p>
Researchers worldwide who have been approved by their own local ethics committee and by the TREAT-NMD governing board and ethics council can access this information.
If no suitable database has been established, your information will be stored locally until an international database is set up. When that happens you will be contacted by the curator who will obtain from you the details required for that database.
<p></p>

If a clinical trial or other research study is identified for which you might be eligible the New Zealand Registry will “de-code” the data to find your personal details and then contact you. If you are interested you can then contact the study organiser. Your name or other personal details will not be given to the researchers. You are free to make your own decision about whether or not you wish to participate in the trial, and may wish to discuss this with your doctor.
<p></p>

<h4>Who do I contact for further information?</h4>
Thank you for making the time to read about and consider taking part in the New Zealand Neuromuscular Disease Registry. We hope you will be interested in submitting your details.
<p></p>

For more information visit MDANZ’s website: <a href="http://www.mda.org.nz/Our-Research/NZ-NMD-Registry">http://www.mda.org.nz/Our-Research/NZ-NMD-Registry</a>
<p></p>

Or contact the Registry Curator; Ph / Txt 0274688044, Email: <a href="mailto:NZNMDRegistry@adhb.govt.nz">NZNMDRegistry@adhb.govt.nz</a>
<p></p>

Post:
<br>
NZ NMD Registry,<br>
Neurology,<br>
Auckland City Hospital,<br>
Private Bag 92024,<br>
Auckland Mail Centre 1142.<br>
<p></p>

Further general information about the international TREAT-NMD project can be found on their website <a href="http://www.treat-nmd.eu">www.treat-nmd.eu</a>.
<p></p>

For more information about the Muscular Dystrophy Association of New Zealand, visit their website at <a href="http://www.mda.org.nz">www.mda.org.nz</a>.
<p></p>

If you have any queries or concerns regarding your rights as a participant in this registry please contact the Registry Curator or you may wish to contact an independent health and disability advocate:
<br>
free phone <a href="tel:0800 555 050">0800 555 050</a> email: <a href="mailto:advocacy@hdc.org.nz">advocacy@hdc.org.nz</a>
<p></p>
This study has received ethical approval from the Northern A Health & Disability Ethics Committee Ethics reference number NTX/11/02/003
<p></p>
<p></p>
