{% extends "rdrf_cdes/base.html" %}
{% load static %}

{% block extrahead %}
   <style>
    td {
	word-wrap:break-word;
	word-break:break-all;
    }

    .label {
       display:block;
       float:left;.label
       text-align: left;
       width: 300px;
       white-space: normal;
     }

    .panel {
    overflow: auto;
}
</style>
    <script type="text/javascript" src="{% static 'js/lookup.js' %}"></script>
    <script type="text/javascript">

function getLoadedPatientId() {
    return $("#patient_lookup").data;
}

function getCheckedQuestionIds() {
    var ids = _.map($("#questions  input:checkbox:checked"),
		    function (el){return el.id;});
    return ids;
}

function sendCheckedQuestionIds(loadedPatientId, checkedQuestionIds) {
    console.log("sending checkedIds for loaded patient with id " + loadedPatientId);
}

function QuestionnaireHandlerGui(rpc,
				 patientInfoPanelId,
				 patientInfoResultPanelId, patientDataPanelId, patientDataTableId,questionnaireContainerId,questionnaireDataPanelId) {
    this.rpc = rpc;
    this.patientInfoPanel = $("#" + patientInfoPanelId);
    this.patientInfoResultPanel = $("#" + patientInfoResultPanelId);
    this.patientDataPanel = $("#" + patientDataPanelId);
    this.patientDataTable = $("#" + patientDataTableId);
    this.questionnaieContainer = $("#" + questionnaireContainerId);
    this.questionnaireDataPanel = $("#" + questionnaireDataPanelId);
    this.cdeRowTemplate = _.template("<tr><td><%= name %></td><td><%= value %></td></tr>");
}

var InfoSpan = _.template("<span class='label label-info'><%= text %></span><br>");

QuestionnaireHandlerGui.prototype.wireUp = function () {
    var self = this;
    this.patientInfoPanel.delegate('input[type=radio]', 'click', function() {
	var action = this.value;
	if(action == "create") {
	    $("#load_patient").hide();
	    $("#updatebutton").hide();
	    $("#createbutton").show();
	    $("#patient-blurb").hide();
	    $("#clear").hide();
	    $(".usecolumn").hide();
	 
	}
	else {
	    $("#load_patient").show();
	    $("#patient-blurb").show();
	    $("#createbutton").hide();
	    $("#updatebutton").show();
	    $(".usecolumn").show();
	    $("#clear").show();
	};});

    $("input:radio:first").prop("checked", true).trigger("click");
}

QuestionnaireHandlerGui.prototype.loadPatientData = function (data) {
    var patientName = data.name;
    var patientLink = $('<a>', { href: data.link, text: patientName});
    var self = this;
    this.patientInfoResultPanel.empty();
    this.patientInfoResultPanel.append(patientLink);
    _.each(data.questions, function (question) {
	self.addPatientCde(question);
    });
}

function createSpan(answer) {
    return InfoSpan({text:answer});
}

function successMessage(msg) {
    $("#success-message").text(msg);
}

function hideDatatable() {
    $("#datatable").hide();
    $("#createbutton").hide();
    $("#clear").hide();
    $("#updatebutton").hide();
    $("#patient-info").hide();
}

QuestionnaireHandlerGui.prototype.addPatientCde = function (question) {
    var cellId = "existing_" + question.pos.toString();
    if (!question.is_multi) {
	$("#"+cellId).text(question.answer);
    }
    else {
	var spans = _.map(question.answers, createSpan);
	console.log(spans);
	$("#"+cellId).empty();
	$("#"+cellId).append(spans);
    }
}

QuestionnaireHandlerGui.prototype.clearPatientData = function () {
    console.log("clearing table");
}

QuestionnaireHandlerGui.prototype.showPatientPanel = function () {
    console.log("show panel");
}

QuestionnaireHandlerGui.prototype.showError = function (errorMessage) {
    $("#messages").val(errorMessage);
}

$(document).ready(function() {

    $("#messages-panel").hide();

    $.ajaxSetup({
	beforeSend: function (xhr) {
	    var csrfToken = '{{ csrf_token }}';
	    xhr.setRequestHeader('X-CSRFToken', csrfToken);
	}
    });

    var rpc = new RPC.RPC("{% url 'rpc' %}", "{{csrf_token}}");
    


    $("#patient_lookup").keyup(function () {
	lookupPatient($(this), '{{patient_lookup_url}}');
	$(".ui-helper-hidden-accessible").hide();
    });

    function lookupPatient(element, source_url) {
	element.autocomplete({
	    source: source_url,
	    minLength: 1,
	    select: function (event, ui) {
		$(element).data("patient_id", ui.item.pk);
	    }
	}).data("ui-autocomplete")._renderItem = function (ul, item) {
	    item.pk = item.value;  // so we can load
	    item.value = item.label;
	    return $("<li>")
		.append("<a>" + item.label + "</a>")
		.appendTo(ul);
	};
    }

    var gui = new QuestionnaireHandlerGui(rpc,
					  "patient-info",
					  "patient-info-result",
					  "patient-data",
					  "patient-table",
					  "questionnaire-container",
					  "questionnaire-data");

    gui.wireUp();

    function getAction() {
	return $("#patient-info input[type='radio']:checked").val();
    }

    function getPatientId() {
	return $("#patient_lookup").data("patient_id");
    }

    function displayMessage(succeeded, message) {
	if (succeeded) {
	    $("#patient-info").append("<div class='alert alert-alert alert-success'>" + message +"</div>");
	}
	else {
	    $("#patient-info").append("<div class='alert alert-alert alert-danger'>" + message + "</div>");
	}

	$(".alert").fadeOut(3000, function () {
	    $(this).remove();
	});

    }

    $("#updatebutton").click(function (event) {
	var action = getAction();
	var patientId = getPatientId();
	var selectedQuestionIds = getCheckedQuestionIds();
	var questionnaireId = {{qr_model.pk}};
	displayMessage(true, "Updating ...");
	
	rpc.send("update_selected_cdes_from_questionnaire", [patientId, questionnaireId, selectedQuestionIds], function(response) {
	    if (response.status == "fail") {
		displayMessage(false, "Update failed - error on server: " + response.error);
	    } else {
		var result = response.result;
		if (result.status == "fail") {
		    displayMessage(false, result.message);
		}
		else {
		    displayMessage(true, "Patient updated from questionnaire successfully");
		    hideDatatable();
		    successMessage(result.patient_blurb);
		}
		
	    }
	});
	
    });


    $("#createbutton").click(function () {
	var questionnaireId = {{qr_model.pk}};
	displayMessage(true, "Creating new patient from questionnaire data");
	rpc.send("create_patient_from_questionnaire",[questionnaireId], function(response) {
	    if (response.status == "fail") {
		displayMessage(false, "Create failed - error on server:" + response.error);
	    }
	    else
	    {
		var result = response.result;
		if (result.status == "fail") {
		    displayMessage(false, "Patient not created: " + result.message);
		}
		else {
	            displayMessage(true, "Created patient successfully from questionnaire");
	            hideDatatable();
		    successMessage(result.patient_blurb);
	            var patientLink = $('<a>', { href: result.patient_link, text: result.patient_name});
	            $("#success-message").append(patientLink);
		}
	    }
	});
    });

    $("#load_patient_button").click(function () {
	var qrModelId = {{qr_model.pk}};
	var lookedUpPatientId = getPatientId();

	rpc.send("load_matched_patient_data", [lookedUpPatientId, qrModelId],
		 function (response) {
		     if (response.status == "success") {
			 gui.clearPatientData();
			 gui.loadPatientData(response.result);
		     }
		     else {
			 gui.showError(result.errorMessage);
		     }
		     ;
		 });
    })
});
</script>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
	{{ block.super }}
        {% if not qr_model.processed %}
	<div class="row">
	<div class="col-md-12">
	    <p><h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Questionnaire Response</h3></p>
	</div>
	</div>
    <br>
        <div class="row">
            <div class="col-md-10">

            <div id="success-message"></div>

             <div id="patient-info" class="panel panel-info">
               <div class="panel-heading">Existing Patient Lookup <i>Type name to find a patient to match with or leave blank to create a new patient from the questionnaire response</i></div>
                    <div class="panel-body">
                        <div class="row">
			    <input  type="radio" name="handle_action" value="create" checked>Create New Patient From Questionnaire Response
			    <input  type="radio" name="handle_action" value="update">Update Existing Patient From Questionnaire Response<br>
			    <div id="load_patient">
			      Lookup Patient: <input id="patient_lookup" name="patient_lookup" value=""/>
                              <button id="load_patient_button">Load this patient</button>
			    </div>
                        </div>
                    </div>

             </div>

	     <div  id="messages-panel" class="panel panel-info">
	       <div id="messages" class="panel-heading"></div>
	     </div>

             <div id="patient-blurb" class="panel panel-default">
               <div class="panel-heading">Patient Info</div>

                            <div id="patient-info-result" class="panel-body">
			      
                            </div>

	       </div>


    
	     <div id="datatable" class="row">
		  <div class="col-md-12">
		   <div id="questionnaire_data" class="panel panel-default">
                     <div class="panel panel-heading">Questionnaire Data</div>
                     <div class="panel panel-body">
                       <div id="questions">
			 <table class="table table-bordered table-striped">
                           <tbody>
                             <tr>
                               <th>Data Element</th>
			       <th>Existing Data</th>
			       <th>Questionnaire Value</th>
			       <th class="usecolumn">Use</th>
    
                             </tr>
			     {% for question in questionnaire.questions %}
			         <tr>
			           <td>{{question.name}}</td>
			           <td>
				     {% if not question.is_multi %}
				     <span id="existing_{{question.pos}}" class="label label-info">NO DATA</span></td>
				   {% else %}
				   <div id="existing_{{question.pos}}">
				     <span class="label label-info">NO DATA</span></td>
				   </div>
				   {% endif %}
				   {% if not question.is_multi %}
                                   <td><span class="label label-success">{{question.answer}}</span></td>
			           {% else %}
                                   <td>
				     {% for item in question.items %}
				     <span class="label label-success">{{item.answer}}</span>
				     {% endfor %}
                                   </td>
			           {% endif %} 
			       <td class="usecolumn"><input id="{{question.src_id}}" type="checkbox" checked="checked"/></td>
			     </tr>
			     {% endfor %}

                           </tbody>
                         </table>
                       </div><!-- patient data -->
                     </div><!-- panel body -->
                   </div><!-- panel -->
		  </div><!-- col -->

                </div>
	    </div>  <!-- col10 -->

	      <div class="col-md-2">
              <div data-spy="affix" style="width: 150px;">
                <button id="createbutton" type="submit" class="btn btn-success btn-block" value="Save">
                  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Create
                </button>
                <button id="updatebutton"  class="btn btn-success btn-block" value="Update">
                  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Update
                </button>
                <a id="clear" href="" class="btn btn-danger btn-block">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear
                </a>
              </div>
              </div>
	      
	    </div>
{% else %}
<span class="alert alert-danger">Questionnaire already processed!</span>
{% endif%} 


    {% else %}
        <div class="alert alert-info">Please log in to access the registry.</div>
	{% endif %}
{% endblock%}

