{% extends "rdrf_cdes/base_questionnaire.html" %}

{% load get_display_name %}
{% load get_questionnairesection_help %}
{% load is_formset %}
{% load get_management_form %}
{% load lookup %}
{% load get_forms %}
{% load get_form_var %}
{% load get_form_object %}
{% load widget_name %}
{% load add_attr %}
{% load static %}
{% load i18n %}

{% block title %}
    {{registry|upper}} Questionnaire
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{% static 'css/jquery-1.11.4/themes/smoothness/jquery-ui.min.css' %}">
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.11.4.min.js' %}"></script>
    <script>
        $(document).ready(function() {
          $( ".datepicker" ).datepicker({
            showOn: "button",
            buttonImage: '{% static 'images/calendar.gif' %}',
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            yearRange: '-100:+0',
          });
        });

        $(document).ready(function() {
            $("glyphicon-question-sign").tooltip({placement: 'top'});
            $(":input").not(':input[type=checkbox], :input[type=radio], :input[type=button], :input[type=submit], :input[type=reset]').addClass("form-control");
            var country_selects = $(document).find("select[onchange*='select_country']");
            var country_code = '{{country_code}}';

            var on_approval = '{{on_approval}}';
            if (on_approval=='yes') {
                // if viewing no empty filled out questionnaire
                // don't initialise the country selects - they're already initialised
                $.each(country_selects, function() {
                    $(this).change();
                });
                return;
            }

            $.each(country_selects, function() {
               $(this).change();
            });
        });
        
        function select_country(obj) {
            var state_select;
            state_id = obj.id.replace("Country", "State");
            if (state_id.match(/formset/)) {
                // CDEs using this widget are named diferently in formsets
                state_select = $('#' + state_id);
            }
            else {
                state_select = $("#" + state_id);
            }

            state_select.find('option').remove();

            if (obj.value != "") {
                $.get( "{% url 'v1:state_lookup' 'XX' %}".replace('XX', obj.value), function( data ) {
                if (data) {
                    $.each(data, function(i, item) {
                        var option_html = "<option value='" + item.code + "'>" + item.name + "</option>";
                        state_select.append(option_html);
                        })
                    }
                });
            }
        }


        function add_form(prefix) {
            var mgmt_form = $("#mgmt_" + prefix);
            var empty_form = $("#empty_" + prefix);
            var forms = $("#forms_" + prefix);

            var total_forms = mgmt_form.find("input[id=id_"+ prefix +"-TOTAL_FORMS]")
            var initial_forms = mgmt_form.find("input[id=id_"+ prefix +"-INITIAL_FORMS]")
            
            var new_form = empty_form.clone(true, true);
            
            new_form.find(":input").each(function() {
		$(this).attr("id", $(this).attr("id").replace(/__prefix__/g, total_forms.val()));
		$(this).attr("name", $(this).attr("name").replace(/__prefix__/g, total_forms.val()));
		
		if ($(this).hasClass("datepicker")) {
                    $(this).datepicker({
			changeMonth: true,
			changeYear: true,
			dateFormat: 'dd-mm-yy',
			yearRange: '-100:+0',
			buttonImage: "/static/images/calendar.gif",
			buttonImageOnly: true,
                    });
		}
            });

            var total_forms_inc = parseInt(total_forms.val()) + 1;
            total_forms.attr("value", total_forms_inc);

            $("<hr>").attr("style", "border: solid 1px gray").appendTo(new_form);

	    if(total_forms_inc == 2) {
		$("<hr>").attr("style", "border: solid 1px gray").prependTo(new_form);
	    }

	    var nodes = $(new_form).children().detach();
	    var new_item = $("<div class='item'>").append(nodes);
	    new_item.appendTo(forms).show("fast");
    }

    function delete_form(form_div, prefix) {
        var mgmt_form = $("#mgmt_" + prefix);
        var total_forms = mgmt_form.find("input[id=id_"+ prefix +"-TOTAL_FORMS]")
        var initial_forms = mgmt_form.find("input[id=id_"+ prefix +"-INITIAL_FORMS]")
        var total_forms_dec = parseInt(total_forms.val()) - 1;
        total_forms.attr("value", total_forms_dec);

        $(form_div).parent().parent().parent().remove();

	// update indices

	var forms = $("#forms_" + prefix);
	var items = $(forms).find(".item");

	$.each(items, function(i, item) {
	    console.log("Checking item number " + i.toString());
	    $(item).find(":input").each(function() {
		// replace id
		var currentId = $(this).attr('id');
		var newIndex = '-' + i.toString() + '-';
		var newId = currentId.replace(/-\d-/,newIndex);
		$(this).attr('id', newId);

		// replace name
		var currentName = $(this).attr('name');
		var newIndex = '-' + i.toString() + '-';
		var newName = currentName.replace(/-\d-/,newIndex);
		$(this).attr('name', newName);
		
		console.log("found input with id " + currentId);
	    });
	});
	
    }

    </script>
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if prelude_file %}
        {% include prelude_file %}
    {% endif %}

    <p>
    </p>
    <br>
    <br>
    
    <div class="text-center alert" id="msg-box"><b>Fields with an asterisk (<span class="glyphicon glyphicon-asterisk" style="color: red;" aria-hidden="true"></span>) are required.</b>
    </div>

    <form enctype="multipart/form-data" class="form" method="post" id="questionnaire-form">{% csrf_token %}

        {% for consent_wrapper in custom_consent_wrappers %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{consent_wrapper.label}}</b>
                </div>
                {% with consent_error_messages=custom_consent_errors|lookup:consent_wrapper.label  %}
                {% for consent_error_message in consent_error_messages %}
                   <div class="alert alert-danger">{{ consent_error_message }}</div><br>
                {% endfor %}
                {% endwith %}
                <div class="panel-body">
                     <table class="table table-bordered table-hover table-condensed">
                            {% autoescape off %}
                                {% for field in consent_wrapper.form %}
                                    <tr class="">
                                        <td style="width: 40%; vertical-align: middle;">{{ field.label }}</td>
                                        <td>
                                                {{field}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endautoescape %}
                        </table>
                </div>
            </div>
        {% endfor %}
    
        {% for s in sections %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{display_names|get_display_name:s}}</b>
                    {% if s|get_questionnairesection_help %}
                        <span  class="glyphicon glyphicon-question-sign pull-right" title="{{ s|get_questionnairesection_help }}" data-toggle='tooltip'  data-placement='left' data-container='body'></span>
                    {% endif %}
                </div>

                <div class="panel-body">
                    {% if forms|is_formset:s %}
		    
                        <!-- start management form for {{s}}-->
			{% with formset=forms|get_form_object:s %}
			<div id="mgmt_{{formset.prefix}}">
			  {{formset.management_form}}
			</div>
                        <!-- end management form for {{s}} -->
			
			<!-- start of hidden empty form for {{s}} -->
			<div style="display: none;" id="empty_{{formset.prefix}}">
			  {{formset.empty_form.as_table}}
                           <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <a class="btn btn-danger btn-xs pull-right" onclick="delete_form(this, '{{formset.prefix}}')">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {% trans "Remove" %}
                                            </a>
                                        </div>
                                    </div>

			</div>
			<!-- end of hidden empty form for {{s}} -->

                        <button id="add_button_for_section_{{s}}" type="button" class="btn btn-success btn-small" onclick="add_form('{{formset.prefix}}');"><i class="icon-white icon-plus"></i> {% trans 'Add' %}</button>
			<div id="forms_{{formset.prefix}}">

                            {% for f in forms|get_forms:s %}
                                <div class="item">
                                   {{ f }}
                                </div>
                            {% endfor %}
			   
			</div>
			{% endwith %}
                    {% else %}
                        <table class="table table-bordered table-hover table-condensed">
                            {% autoescape off %}
                                {% get_form_var forms s as form %}
                                {% for field in form %}
                                    <tr>
                                        <td style="width: 40%; vertical-align: middle;">
                                             {{ field.label }}
                                             {% if  field.field.required %}
                                                 <span class="glyphicon glyphicon-asterisk" style="color: red;" aria-hidden="true"></span>
                                             {% endif %}

                                        </td>
                                        <td>
                                                {{field}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endautoescape %}
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="panel panel-default">
            <div class="panel-body">
                {% blocktrans with registry_name=registry.name %}
                Thank you for completing the {{ registry_name }} questionnaire. The information you have provided will be reviewed by your clinician and downloaded into the registry.
                {% endblocktrans %}
            </div>
        </div>

        <input id="submit_button" type="submit" class="btn btn-primary btn-small pull-right" value="Save"/>
    </form>

{% endblock %}
