{% extends "rdrf_cdes/base-2-cols.html" %}
{% load add_attr %}
{% load static from staticfiles %}
{% load get_patient %}
{% load has_feature %}
{% load get_form_element %}
{% load is_checkbox %}
{% load is_patient_relative_widget %}
{% load is_formset_obj %}
{% load get_information_link %}

{% block extrastyle %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/jquery-1.11.4/themes/smoothness/jquery-ui.min.css' %}">
    <script type="text/javascript" src={% static 'js/rpc_module.js' %}></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.11.4.min.js' %}"></script>
    <script>
        $(document).ready(function(){
        $(":input").not(':input[type=checkbox], :input[type=radio], :input[type=button], :input[type=submit], :input[type=reset]').addClass("form-control");
        $("textarea").addClass("form-control");
        $("select").addClass("form-control");
        });
    </script>

{% endblock %}

{% block formlinks %}
{% endblock %}

{% block formbtns %}
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
	<div class="btn-group" role="group" aria-label="...">
	 <button type="submit" class="btn btn-success" value="Save">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                </button>
                <a href="" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                </a>
	</div>
	
{% endblock %}	

{% block sidebar %}
	{{ context_launcher | safe }}
{% endblock %}



{% block content %}
<br>
    <div class="row">
        <div class="col-md-10">

                {% if message %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}


                {% csrf_token %}

                {% if errors %}
                    <div class="alert alert-danger" role="alert">
                        Please correct errors below:<br>
                        {% for error_message in error_messages %}
                        {{ error_message }}<br>
                        {% endfor %}
                    </div>
                {% endif %}



              <p></p>

              <div class="panel panel-default">
              <div class="panel-heading">{{context_name}} Metadata</div>
              <div class="panel-body">
		{% if form.instance.context_form_group %}
		<div class="form-group">
                    <label for="Form Group" class="col-sm-3 control-label">
		      Form Group Type
		      </label>
                                <div class="col-sm-9">
                                    {{form.instance.context_form_group.name}}
                                </div>
		</div>
		{% endif %}
                   <div class="form-group">
                                <label for="created_at" class="col-sm-3 control-label">
                                    Created At
                                </label>
                                <div class="col-sm-9">
                                    {{form.instance.created_at}}
                                </div>
                   </div>

                   <div class="form-group">
                                <label for="created_at" class="col-sm-3 control-label">
                                    Last Updated
                                </label>
                                <div class="col-sm-9">
                                    {{form.instance.last_updated}}
                                </div>
                   </div>

              </div>
              </div>

              <div class="panel panel-default">
              <div class="panel-heading">{{context_name}} Data</div>
              <div class="panel-body">
                   {% for field in form %}
                            <div class="form-group">
                                <label for="{{field.id_for_label}}" class="col-sm-3 control-label">
                                    {{field.label}}
                                    {% if  field.field.required %}
                                        <span class="glyphicon glyphicon-asterisk" style="color: red;" aria-hidden="true"></span>
                                    {% endif %}
                                </label>
                                <div class="col-sm-9">
				    {% if field.name != "display_name" %} 
                                          {{field|safe}}<p class="text-muted"><i>{{field.help_text}}</i></p>
				    {% else %}
                                          {{field|safe}}<p class="text-muted"><i>{{naming_info}}</i></p>
				    {% endif %}
                                    {% if field.errors %}
                                        <span class="label label-danger">{{field.errors.as_text}}</span>
                                    {% endif %}
                                </div>
                            </div>
                   {% endfor %}
              </div>
              </div>


	     {% if form_links %}
	      <div class="panel panel-default">
		<div class="panel-heading">Forms in this {{context_name}}</div>
		<div class="panel-body">
		
                   {% for form_link in form_links %}
		 
                            <div class="form-group">
                                <label for="{{form_link.text}}" class="col-sm-3 control-label">
                                    <a href="{{form_link.url}}">{{form_link.text}}</a>
                                </label>
                            </div>
                   {% endfor %}
              </div>
              </div>
	     {% endif %}




        </div>

        </div>
        </form>
    </div>
{% endblock %}
