<!-- start demographics form launcher -->
{% load i18n %}
{% load translate %}
{% load has_feature %}

<style>
  .card-body  {
    word-break:break-word
  }
</style>

<div class="card collapsible mb-2">
  <div class="card-body">
    {% if current_form_name == "Demographics" %}
    <i>{% trans 'Demographics' %}</i>
    {% else %}
    <a href="{{demographics_link}}">{% trans 'Demographics' %}</a>
    {% endif %}
  </div>
</div>


{% if not consent_locked %}
<div class="card collapsible mb-2">
  <div class="card-body">
    {% if current_form_name == "Consents" %}
    <i>{% trans 'Consents' %}</i>
    {% else %}
    <a href="{{consents_link}}">{% trans 'Consents' %}</a>
    {% endif %}
  </div>
</div>


{% if clinician_form_link %}
<div class="card collapsible mb-2">
  <div class="card-body">
    {% if current_form_name == "Clinician" %}
    <i>{% trans 'Clinician' %}</i>
    {% else %}
    <a href="{{clinician_form_link}}">{% trans 'Clinician' %}</a>
    {% endif %}
  </div>
</div>
{% endif %}

{% if proms_link %}
<div class="card collapsible mb-2">
  <div class="card-body">
    {% if current_form_name == "Proms" %}
    <i>{% trans 'Proms' %}</i>
    {% else %}
    <a href="{{proms_link}}">{% trans 'Proms' %}</a>
    {% endif %}
  </div>
</div>
{% endif %}


{% if family_linkage_link %}
<div class="card collapsible mb-2">
  <div class="card-body">
    <a href="{{family_linkage_link}}">{% trans 'Family Linkage' %}</a>
  </div>
</div>
{% endif %}

{% for fixed_context in fixed_contexts %}
<div class="card collapsible mb-2">
  <div class="card-header">
    {{fixed_context.name|translate}}
  </div>
  <div class="card-body">
    {% for form in fixed_context.forms %}
    <p>
      {% if form.current %}
      <i>{{form.text|translate}}</i>
      {% else %}
      <a href="{{form.url}}">{{form.text|translate}}</a>
      {% endif %}
    </p>
    {% endfor %}
  </div>
</div>
{% endfor %}

{% for multiple_context in multiple_contexts %}
<!-- START MMMMMM -->
<div class="card collapsible mb-2">
  <div class="card-header" data-bs-toggle="collapse" data-bs-target="#existing_{{multiple_context.id}}">
    {{multiple_context.heading}}
    {% if can_add_proms %}
    <a class="btn btn-info btn-sm pull-right"
       onclick="location.href='{{multiple_context.add_link_url}}';">
       <span class="fa fa-plus" aria-hidden="true"></span> Add</a>
     {% endif %}
  </div>
  <div id="existing_{{multiple_context.id}}" class="card-body">
    {% for link in multiple_context.existing_links %}
    {% if not link.current %}
    <a href="{{link.url}}">{% trans link.text %}</a>
    {% if registry|has_feature:"form_locking" and link.locking %}
    <i class="rdrf-lockicon rdrf-form_lock_icon fas fa-lock"></i>
    {% endif %}
    <br>
    {% else %}

    <i>{{link.text}}</i>
    {% if registry|has_feature:"form_locking" and link.locking %}
    <i class="rdrf-lockicon rdrf-form_lock_icon fas fa-lock"></i>
    {% endif %}
    <br>
    {% endif %}

    {% endfor %}

  </div>
</div>

<!-- END MMMMMM -->
{% endfor %}


{% else %}
<!-- consent locked -->
<div class="card collapsible">
  <div class="card-body">
    {% if current_form_name == "Consents" %}
    <i>{% trans "Consents" %}</i>
    {% else %}
    <a href="{{consents_link}}">{% trans 'Consents' %}</a>
    {% endif %}
  </div>
</div>

{% endif %}

<!-- end demographics form launcher -->

