{% extends "rdrf_cdes/base.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

{% endblock %}

{% block extrahead %}
    <script>

    var COLUMNS = {{columns|safe }};

    var Report = function(registryCode, columns) {
        this.registryCode = registryCode;
        this.baseApiUrl = "{{ api_url  }}";
        this.table = $("#report_table").DataTable({"processing": true,
                                                   "serverSide": true,
                                                    ajax: {
                                                        url: this.getUrl(),
                                                        dataSrc: "rows",
                                                        type: "POST"
                                                    },
                                                    columns: columns});
    };

    Report.prototype.getApiUrl = function(registryCode, drawLength) {
        return  this.baseApiUrl + "?registry_code=" + registryCode + "&length=" + drawLength;
    };

    Report.prototype.getDrawLength = function () {
        return 100;
    };

    Report.prototype.getUrl = function () {
        return this.getApiUrl(this.registryCode, this.getDrawLength());
    }

    Report.prototype.load = function() {
        var url = this.getUrl();
        this.table.ajax.url(url).load();
    }

    function setUpCSRFToken() {
         $.ajaxSetup({beforeSend: function (xhr) {
                    var csrfToken = '{{ csrf_token }}';
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                }});
    }

    $(document).ready(
            function () {
                setUpCSRFToken();
                var registryCode = "{{ registry_code }}";
                var report = new Report(registryCode, COLUMNS);
                report.load()
            });
    </script>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <p><h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> RDRF Report Table</h3></p>
            <i class="text-muted"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user.first_name}} {{user.last_name}} ({{user.title}})</i>
        </div>
    </div>

    <br>

    <div class="well">
        SQL QUERY
        <br>
        <table id="report_table" class="table table-striped table-hover">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column.label|safe }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>
        <br>
        COMMMAND MENU
    </div>

{% endblock %}
