{% extends "rdrf_cdes/wizard_base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}

<div class="row">
  <!-- start column 1 -->
  <div class="col-md-2">
    <!-- start review item explanation card -->
    <div class="card card-default">
      <div class="card-header">{{ name }}</div>
      <div class="card-body">
        {{ summary }}
      </div>
    </div>
    <!-- end review item explanation card -->
  
  <!-- start review fields card -->
  <div class="card card-default">
    <div class="card-header">Review Fields</div>
    <div class="card-body">
      {% for field in wizard.form.metadata_fields %}
        <div class="row mb-3">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- end review fields card -->
  </div>
  <!-- end column 1 -->

  <!-- start column 2 -->
  <div class="col-md-6">
    <!-- start previous responses card -->
    <div class="card card-default">
      <div class="card-header">Previous Responses</div>
      <div class="card-body">
        {% for response in responses %}
          {{response.label}}
          <span class="badge bg-secondary float-end">{{ response.answer }}</span><br>
        {% endfor %}
      </div>
    </div>
    <!-- end previous responses card -->
  </div>
  <!-- end of column 2 -->

  <!-- start colummn 3 -->
  <div class="col-md-4">
    <!-- start data entry card -->
    <div id="data-bs-entry" class="card card-default">
      <div class="card-header">Data Fields</div>
      <div class="card-body">
        {% for field in wizard.form.data_entry_fields %}
          <!-- start of form group -->
          <div class="row mb-3">
            {{ field.errors }}
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
          <!-- end of form group -->
        {% endfor %}
      </div> <!-- end of card body -->
    </div>
    <!-- end data entry card -->
  </div> <!-- end of column 3 -->

</div> <!-- end of row -->
<script>
  var hasChangedPattern = "metadata_condition_changed_0"; // yes
  $(document).on("ready", function () {
    $("#data-bs-entry").hide();
    var hasChangedId = $("[id$='" + hasChangedPattern + "']").attr("id");
    $(".condition").change(function() {
      if($("#" + hasChangedId).is(":checked")) {
        $("#data-bs-entry").show();
      } else {
        $("#data-bs-entry").hide();
      }
    });

    $(".condition").trigger("change");
  });   
</script>    
{% endif %}
</table>

{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}
