{% extends "rdrf_cdes/wizard_base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
<div class="row">

  <!-- column 1 -->  
  <div class="col-md-3">
    <div class="panel panel-default">
    <div class="panel-heading">{{ name }}</div>
    <div class="panel-body">
      {{ summary }}
    </div>
    </div>
  </div>

  <!-- column 2 -->
  <div class="col-md-3">
    <div class="panel panel-default">
    <div class="panel-heading">Previous Responses</div>
    <div class="panel-body">
    {% for response in responses %}
    <a href="#">{{response.label }} <span class="badge">{{ response.answer }}</span></a><br> 
    {% endfor %}
    </div>
    </div>
   </div> <!-- end column -->
  
  <div class="col-md-3">
    <div class="panel panel-default">
    <div class="panel-heading">Data Fields</div>
    <div class="panel-body">
    {% for field in wizard.form.data_entry_fields %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    </div>
    </div>
  </div> <!-- end column -->



  <div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-heading">Review Fields</div>
  <div class="panel-body">
    <!-- data entry form starts here -->
    {% for field in wizard.form.metadata_fields %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    </div>
  </div>
  </div> 
    
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}
