{% extends "rdrf_cdes/base-2-cols.html" %}
{% load translate %}
{% load i18n %}

{% block extrastyle %}
  {{block.super}}
{% endblock %}

{% block formlinks %}
{% endblock %}

{% block actions %}
{% if actions %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
        <span class="fa fa-list-alt"></span> {% trans "Actions" %}<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-end" data-bs-display="static" role="menu">
                    {% for action in actions %}
                        <li><a href="{{action.link}}"><span class="fa fa-minus"></span> {{action.title|translate}}</a></li>
                    {% endfor %}
        </ul>
    </li>
{% endif %}
{% endblock %}

{% block sidebar %}
  {{ context_launcher | safe }}
{% endblock %}

{% block formbtns %}
	<div class="btn-group" role="group" aria-label="...">
		<button id="submit-btn" type="submit" class="btn btn-success" value="Save">
			<span class="fa fa-save" aria-hidden="true"></span> {% trans "Save" %}
		</button>

		<a href="" class="btn btn-danger">
			<span class="fa fa-times" aria-hidden="true"></span> {% trans 'Cancel' %}
		</a>

		{% if show_print_button %}
			<a class="btn btn-warning" href="{% url 'registry_form_print' registry_code form_name patient_id %}" target="_blank">
				<span class="fa fa-print" aria-hidden="true"></span> {% trans "Print" %}
			</a>
		{% endif %}

		</div>
{% endblock %}

{% block content %}
  
{% endblock %}
