html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: #f5f5f5;
    text-align: center;
}