{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Thank you</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap-5.0.0/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'proms/css/proms-completion.css' %}">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="completion">
               <h1 class="display-3">Thank You!</h1>
               <p class="lead">You have completed the survey</p>
               <hr>
            </div>
         </div>
      </div>
   </body>
</html>
