.show-form {
    display: inline-block;
    font-weight: bold;
    font-size: 120%;
    width: 1.5em;
    text-align: center;
    color: gray;
    cursor: pointer;
}


.validity {
    display: inline-block;
    width: 16px;
    min-height: 16px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 120%;

    background-color: transparent;
    background-position: left 50%;
    background-repeat: no-repeat;
}

.validity.valid {
    background-image: url(../../images/tick.png);
}

.validity.invalid {
    background-image: url(../../images/cross.png);
}

.validity.hell-if-i-know {
    background-image: url(../images/question.png);
}

.validity.loading {
    background-image: url(../images/ellipsis.png);
}


.validity .popup {
    position: relative;
    width: 0;
    height: 0;
}

.validity .popup ul {
    display: none;
}

.validity:hover .popup ul, .validity.hover .popup ul {
    display: block;
    position: absolute;
    left: -9.25em;
    width: 20em;
    max-height: 15em;
    overflow: auto;

    list-style: none;
    margin: 0;
    padding: 1.5em 0 0 0;
}

.validity .popup ul li {
    list-style: none;
    margin: 0;
    padding: 0.2em;

    background: white;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    color: #666666;
}

.validity .popup ul li:first-child {
    border-top: solid 1px #cccccc;
}

.validity .popup .hint {
    color: #222;
}


.overlay-container, .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay {
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: black;
}

.overlay-container iframe {
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    border: solid 5px black;
    background: white;
}


/* vim: set nocin ai et ts=4 sw=4: */
