{% extends "explorer/base.html" %}
{% load i18n %}
{% block content %}
<script>


    $(document).ready(function () {
        var FIELDS_TABLE = "#mongo-fields";
        var PROJECTION_FIELD = "projection";
        var container = $("#mongo_field_selection");
		
	var NEW_QUERY = Boolean({{new_query}});


        function recalculateProjection() {
            // get ids of  all checked checkboxes
			function isLongId(s){
			return s.slice(-5) === "_long";
		}
				
		var checkedIds = $(FIELDS_TABLE + " :checkbox:checked").map(function () {return this.id}).get();
		var selectedCdesIds = _.filter(checkedIds, function(id) { return !isLongId(id);});
		var longitudinalIds = _.filter(checkedIds, function(id) { return isLongId(id);});
	
		// calculate server side
		var registryId = $("#id_registry").val();
		var parts = window.location.pathname.split("/");
		var reportId = parts[parts.length - 1];
		var commandArg = {
			checkbox_ids: selectedCdesIds,
			longitudinal_ids: longitudinalIds
		};
		
		rpc.send('reporting_command',[reportId, registryId, "get_projection", commandArg], function(response){
			if (response.status == "success") {
				$("#" + PROJECTION_FIELD).val(response.result);
			} else {
				$("#js-errors").slideDown("slow", function() {
					$(this).html(response.error);
					setTimeout(function() {
						$("#js-errors").slideUp("slow") },
						2000
					);
				});
			}})
		}

		function wireUpFieldsTable() {
			// when any checkbox in the mongo fields table is checked/unchecked, recalculate
			// the projected fields and store on the hidden
			// projection field so when form submitted the
			// projection is stored.
			$(FIELDS_TABLE + " input[type=checkbox").click(function () {
				recalculateProjection();
			});

		        $("#clear-btn").click(function () {
	                    $(FIELDS_TABLE + " input[type=checkbox]").removeAttr('checked');
	                    recalculateProjection();
                        });

		}
		
		function hideLongitudinalCheckboxes() {
			 var searchType = $("#id_mongo_search_type").val();
			 if (searchType != "M") {
				$(FIELDS_TABLE + " tr:first  th:last").text("");
				$(FIELDS_TABLE + " :checkbox[id$='_long']").prop("checked", false);
				$(FIELDS_TABLE + " :checkbox[id$='_long']").hide();
			 } else {
				$(FIELDS_TABLE + " tr:first  th:last").text("As Longitudinal");
				$(FIELDS_TABLE + "  :checkbox[id$='_long']").show();
			 }
		}
	
		function runButtonVisibility() {
			var reportType = $("#id_mongo_search_type").val();
			if (reportType == "M") {
				$("#submit-query").hide();
			} else {
				$("#submit-query").show();
			}
		}
	
		$("#id_mongo_search_type").bind("change", function() {
			hideLongitudinalCheckboxes();
			runButtonVisibility();
		});
	
		$("#id_registry").bind("change", function () {
	
			var fieldRowTemplate = _.template(
					"<tr><td><%= form %></td>" +
					"<td><%= section %></td>" +
					"<td><%= fieldLabel %></td>" +
					"<td><%= checkBox %></td>" +
					"<td><%= longitudinalCheckBox %></td></tr>"
			);
	
			var checkBoxTemplate = _.template('<input type="checkbox" name="<%= name %>" id="<%= id %>" ' +
												"<%= checked %> />");
	
	
			function clearFieldsTable() {
				$(FIELDS_TABLE + " tr").has("td").remove();
			}
	
			function addFieldTableRow(formName, section, fieldId, fieldLabel, currentValue, longSelected, new_query_flag) {
				var checked = "";
				var longChecked = "";
				var longitudinalFieldId = fieldId + '_long';
		
				if (currentValue || new_query_flag) {
					checked = "checked";
				}
	
				if (longSelected || new_query_flag) {
					longChecked = "checked";
				}
				
				var checkBoxHtml = checkBoxTemplate({
					id: fieldId,
					name: fieldId,
					checked: checked
				});
	
				var longitudinalCheckBoxHtml = checkBoxTemplate({
					id: longitudinalFieldId,
					name: longitudinalFieldId,
					checked: longChecked
				});
	
				var fieldRow = $(fieldRowTemplate({
					form: formName,
					section: section,
					fieldLabel: fieldLabel,
					checkBox: checkBoxHtml,
					longitudinalCheckBox: longitudinalCheckBoxHtml
				}));
	
				$(FIELDS_TABLE).append(fieldRow);
			}
		
			function setUpMongoFields(fieldData) {
				clearFieldsTable();
				_.each(fieldData.fields, function (fieldInfo) {
					var fieldId = fieldInfo.id;
					var fieldLabel = fieldInfo.label;
					var formName = fieldInfo.form;
					var section = fieldInfo.sectionName;
					var savedValue = fieldInfo.savedValue;
					var longSelected = fieldInfo.longSelected;
					var new_query_flag = NEW_QUERY;
					addFieldTableRow(formName, section, fieldId, fieldLabel, savedValue, longSelected, new_query_flag);
				});
	
				wireUpFieldsTable();
	
				$("#id_mongo_search_type").trigger("change"); // ensure checkboxes displayed on initial page load				      
			}
	
			var registryId = $("#id_registry").val();
			var parts = window.location.pathname.split("/");
			var reportId = parts[parts.length - 1];
			
			if (registryId) {
				rpc.send("reporting_command", [reportId, registryId, "get_field_data", null], function (response) {
					if (response.status == 'success') {
						setUpMongoFields(response.result);
					} else {
						$("#js-errors").slideDown("slow", function() {
							$(this).html(response.error);
							setTimeout(function() {
								$("#js-errors").slideUp("slow")
							}, 2000);
						});
					}
				});
			}
		});

	
		$("#id_registry").trigger("change"); // ensure checkboxes displayed on initial page load
	});
</script>


{{form.errors}}
    <form name='query-form' id='query-form' class="form" method='post'>
        {% csrf_token %}
        <input type="hidden" name="collection" id="collection" value="cdes">
        <input type="hidden" value="{{request.user}}" id="created_by" name="created_by">
    
        <button id="hide-description-btn" type="button" class="btn btn-primary btn-sm">{% trans "Hide description" %}</button>
        <button id="hide-form-btn" type="button" class="btn btn-primary btn-sm">{% trans "Hide form" %}</button>

        <div class="pull-right">
            <button type="button" class="btn btn-warning btn-sm" id="sql-submit-query">{% trans "Validate" %}</button>
            <button type="submit" class="btn btn-primary btn-sm">{% trans "Save" %}</button>
            <button type="button" name="" id="submit-query" class="btn btn-success btn-sm">{% trans "Run" %}</button>
        </div>

        <div id="query-description">
            <hr>
            <div class="form-group" style="margin-top: 30px;">
                <input type="text" class="form-control" id="title" name='title' placeholder="Title" value="{{form.title.value|default_if_none:""}}">
            </div>
            
            <div class="form-group">
                <textarea  placeholder="Description" class="form-control" cols="40" id="description" name="description" rows="3">{{form.description.value}}</textarea>
            </div>
        </div>
        
        <div id="query-form-table">        
            <hr/>
    
            <div class="row">
                <div class="col-md-12">    
                    <div class="form-group">
                        <label for="registry">{% trans "Registry" %}</label>
                            {{form.registry}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">    
                    <div class="form-group">
                        <label for="registry">{% trans "Access" %}</label>
                            {{form.access_group}}
                    </div>
                </div>
            </div>
    
            <div id="search_type" class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="mongo_search_type">{% trans "Report Type" %}</label>
                            {{form.mongo_search_type}}
                    </div>
                </div>
            </div>

	       
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" id="query-error">
                    
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <textarea placeholder="{% trans 'Patient SQL query' %}" class="form-control" rows="15" id="sql_query" name="sql_query">{{ form.sql_query.value }}</textarea>
                        <div class="pull-left" id="query-result-count" style="color: green;">
                        </div>
                    </div>    
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr id='query-result-head'></tr>
                        </thead>
                        <tbody id='query-result-body' class="table-hover ">
                        </tbody>
                    </table>
                </div>
            </div>


	     <div id="max_items" class="row">
	       <div class="col-md-12">
                    <div class="form-group">
                        <label for="max_items">{% trans 'Maximum number of items in multisection to return' %}</label>
                            {{form.max_items}}
                    </div>
                </div>

	    </div>

    
            <div class="row" id="mongo-parameters-find">
                <div class="col-md-6">
                    <textarea style="display:none;" class="form-control" cols="40" id="criteria" name="criteria" rows="10">{{form.criteria.value}}</textarea>
                </div>
                <div class="col-md-6">
                    <textarea style="display:none;" class="form-control" cols="40" id="projection" name="projection" rows="10">{{form.projection.value}}</textarea>
                </div>
            </div>

            <p></p>

            <label for="mongo_field_selection">{% trans "Clinical Fields Selection" %}</label>

            <div class="row" id="mongo_field_selection">
                <table class ="table table-striped" id="mongo-fields">
                    <thead>
                    <th>{% trans "Form" %}</th>
                    <th>{% trans "Section" %}</th>
                    <th>{% trans "Field" %}</th>
                    <th>{% trans "Include in Report" %}
                        <button id="clear-btn" type="button"  class="btn btn-primary btn-sm">{% trans "Clear All" %}</button>
                    </th>
		    <th>{% trans "Longitudinal" %}</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


            </div>


        </div>
        
    </form>
    
    <hr>

    <table class="table">
        <thead>
            <tr id='results-head'></tr>
        </thead>
        <tbody id='results-body' class="table-hover ">
        </tbody>
    </table>
    
{% endblock %}
