.instruction {
    text-align: center;
    color: red;
}

.question {
    text-align: center;
    color: blue;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.content-div {
    height: 100%;
}
