.instruction {
    text-align: center;
    color: red;
}

.question {
    text-align: center;
    color: blue;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

.content-div {
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}