{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block extrastyle %}
    {{block.super}}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      showOn: "button",
      buttonImage: '{% static 'images/calendar.gif' %}',
      buttonImageOnly: true,
      changeMonth: true,
      changeYear: true,
      dateFormat: 'yy-mm-dd',
      minDate: '-100Y',
      maxDate: '+0Y'
    });
  });
  </script>
{% endblock %}

{% block content %}
{% include "messages_ui/_messages.html" %}
{{ block.super }}
{% endblock %}