.overlay-container, .overlay {
    position: absolute !important;
    top: 0;
    left: 0;
    width: expression(document.documentElement.scrollWidth + "px");
    height: expression(Math.max(document.documentElement.scrollHeight, document.documentElement.clientHeight) + "px");
}

* html .overlay-container iframe {
    position: absolute !important;
    top: expression((document.documentElement.scrollTop + document.documentElement.clientHeight * 0.1) + "px");
    left: expression((document.documentElement.scrollLeft + document.documentElement.clientWidth * 0.2) + "px");
    right: auto;
    bottom: auto;
    width: expression((document.documentElement.clientWidth * 0.6) + "px");
    height: expression((document.documentElement.clientHeight * 0.8) + "px");
}

.validity {
    height: 16px;
    width: 16px;
}


/* vim: set nocin ai et ts=4 sw=4: */
