{% extends "rdrf_cdes/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-info">
            {% trans "Please enter your current password, and then enter your new password twice so we can verify you typed it in correctly." %}
        </div>
        <form action="" method="post" class="form" id="new-password-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="old_password">{% trans "Current password:" %}</label>
                {{ form.old_password.errors }}
                <input id="id_old_password" name="old_password" type="password" class="form-control" value="{{ form.old_password.value }}" />
            </div>
            <div class="form-group">
                <label for="id_new_password1">{% trans "New password:" %}</label>
                {{ form.new_password1.errors }}
                <input id="id_new_password1" name="new_password1" type="password" class="form-control" value="{{ form.new_password1.value }}" />
            </div>
            <div class="form-group">
                <label for="id_new_password2">{% trans "New password confirmation:" %}</label>
                {{ form.new_password2.errors }}
                <input id="id_new_password2" name="new_password2" type="password" class="form-control" value="{{ form.new_password2.value }}" />
            </div>
             <div class="form-group">
              <input type="submit" value="{% trans 'Change password' %}" class="btn btn-success" />
            </div>
      </form>
    </div>
</div>

{% endblock %}
