<%namespace file="/base.html" inheritable="True" name="base" />
<%namespace name="ra" module="registry.mako.admin"/>
<!DOCTYPE HTML>
<html>
    <head>
        <title>${self.title()} &mdash; ${ra.get_full_registry_name() } Registry</title>

        <link rel="stylesheet" type="text/css" href="${self.base.url('/static/css/%s.css' % ra.get_current_install_name() )}">

        <!--[if IE 6]>
        <link rel="stylesheet" type="text/css" href="${self.base.url('/static/css/ie6.css')}">
        <![endif]-->

        <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="${self.base.url('/static/css/ie7.css')}">
        <![endif]-->

        <style type="text/css">
            #error h2 {
                padding-top: 1.2ex;
            }

            #footer-container {
                position: fixed;
            }
        </style>
    </head>
    <body>
        <div id="header-container">
            <h1>${ra.get_full_registry_name() } Registry</h1>
        </div>

        <div id="container">
            <div id="error">
                <h2>${self.title()}</h2>

                <p>${self.message()}</p>
            </div>
        </div>

        <div id="footer-container">
            <div id="footer">
                Authorised by Hugh Dawkins for the
                <a href="http://www.genomics.health.wa.gov.au/">Office of Population Health Genomics</a>.
                <br>
                All content &copy; 2010 <a href="http://www.genomics.health.wa.gov.au/">Office of Population Health Genomics</a> on behalf of the ${ra.get_full_registry_name() } Registry.
                <br>
                Supported by <a href="http://www.ivec.org/">iVEC</a> and the <a href="http://www.genomics.health.wa.gov.au/">Office of Population Health Genomics</a>.
                <br>
                Developed and hosted by the <a href="http://ccg.murdoch.edu.au/">Centre for Comparative Genomics</a>, <a href="http://www.murdoch.edu.au/">Murdoch University</a>.
                <br>
                <a href="${self.base.url('/admin/')}">Administration</a>
            </div>
        </div>
    </body>
</html>
