body {
    background-color: #edeff1;
}

.header {
    color:#d4d4d4;
    height:45px;
    overflow:hidden;
    text-shadow:0 -1px #121414;
    background-color:#373b3d;
    background-repeat:no-repeat;
    background-image:-webkit-gradient(linear, left top, right top, from(#3f4345), to(#373b3d));
    background-image:-webkit-linear-gradient(right center, #3f4345, #373b3d);
    background-image:-moz-linear-gradient(right center, #3f4345, #373b3d);
    background-image:-o-linear-gradient(left, #3f4345, #373b3d);
    background-image:-khtml-gradient(linear, left top, right top, from(#3f4345), to(#373b3d));
    filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3f4345', EndColorStr='#373b3d', GradientType=1);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#3f4345', EndColorStr='#373b3d', GradientType=1))"
}

.header .header-content{
    float:left;
    height:45px;
    overflow:hidden;
    padding:13px 0 0 30px;
    line-height:normal;
    overflow:hidden
}

.header .header-content.header-content-first{
    border-left:1px solid #45494c;
    margin-right:20px
}

.header .header-content .time{
    font-weight:bold;
    color:#fff
}

.header .header-content .header-column{
    float:left
}

.header .header-content .header-column i{
    margin-right:10px
}

.header #branding{
    float:left;
    min-width:200px;
    border-right:1px solid #2f3334
}

.header #branding h1{
    color:#fff;
    font-size:18px;
    margin:10px 15px 0 13px;
    padding:0;
    text-shadow:0 -1px #121414;
}

.header #branding a{
    text-decoration:none
}

.header #branding a:hover h1{
    text-shadow:0 0 10px rgba(255,255,255,0.4)
}

.header a{
    color:#92d1ee;
    text-decoration:none
}

.header a:hover{
    text-decoration:underline
}

.header a.grey{
    color:#d4d4d4
}

.header #user-tools{
    padding:12px 20px 0 0;
    float:right
}

.header #user-tools .user-links{
    display:inline-block;
    margin-left:15px
}

.header #user-tools .separator{
    color:#999;
    display:inline-block;
    margin:0 5px
}

.header i{
    background-image:url(../img/glyphicons-halflings-white-nav.png)
}

.footer{
    color:#666;
    background-color:#d5d7d8;
    font-size:11px;
    line-height:1.5em;
    text-shadow:0 1px rgba(255,255,255,0.5)
}
    
.footer .content{
    border-top:5px solid #e1e3e5
}

.footer .content .tools{
    float:left;padding:15px 0 0 20px
}

.footer .content .branding{
    padding:15px 0 0 0;
    margin:0 auto;
    width:500px;
    text-align:center
}

.footer .content .copyright{
    padding:9px 20px 0 0;
    float:right;
    text-align:right
}