html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F8F8F8;
    margin-bottom: 60px;
}

.footer{
    color:#666;
    background-color:#d5d7d8;
    font-size:11px;
    line-height:1.5em;
    text-shadow:0 1px rgba(255,255,255,0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer .content{
    border-top:5px solid #e1e3e5
}

.footer .content .tools{
    float:left;padding:15px 0 0 20px
}

.footer .content .branding{
    padding:15px 0 0 0;
    margin:0 auto;
    width:500px;
    text-align:center
}

.footer .content .copyright{
    padding:9px 20px 0 0;
    float:right;
    text-align:right
}
/**************************************************************************
 * CSS button utils                                                       */

/**************************************************************************
 * CDE history charts                                                     */

}

/**************************************************************************
 * Admin site validation                                                  */

.errornote, .errorlist {
  display: block;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

ul.errorlist > li {
  display: block;
}

form .aligned ul.errorlist {
  padding: 5px 10px;
  margin: 5px 0px;