html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F8F8F8;
    margin-bottom: 80px;
    margin-top: 60px;
}

.next-form {
    position: fixed;
    width: 2%;
    top: 50%;
    right: 0;
    font-size: 2em;
    margin-right: 10px;
    z-index: 99;
}

.previous-form {
    position: fixed;
    width: 2%;
    top: 50%;
    left: 0;
    margin-left: 10px;
    font-size: 2em;
    z-index: 99;
}
			
.banner {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #eeeeee;
    padding-bottom: 20px;
    top: 51px;
    box-shadow: 0px 2px 30px #888888;
    -moz-box-shadow: 0px 2px 30px #888888;
    -webkit-box-shadow: 0px 2px 30px #888888;
}

.footer-wrap {
    border-top: 5px solid #e1e3e5;;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #eeeeee;
    padding-bottom: 20px;
    bottom: 0px;
    box-shadow: 0 -2px 30px #888888;
    -moz-box-shadow: 0 -2px 30px #888888;
    -webkit-box-shadow: 0 -2px 30px #888888;			  
}

.footer-wrap .version {
    text-align: left;
    padding: 20px 0px 0px 20px;
    font-size: 0.8em;
}

.footer-wrap .disclaimer {
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-size: 0.8em;
}

.footer-wrap .authorised {
    text-align: right;
    padding: 10px 30px 0px 0px;
    font-size: 0.8em;
}

.invisibutton-container .invisibutton {
  visibility: hidden;
}

.invisibutton-container:hover .invisibutton {
  visibility: visible;
}

input.cde-value-updated {
  background-color: #5bc0de;
}

.cde-history-chart {
  min-height: 300px;
}
