{% extends "admin/base.html" %}
{% load i18n %}

{% load admin_static %}


{% block userlinks %}
                  {% url 'django-admindocs-docroot' as docsroot %}
                  {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
                   <span class="separator">|</span>
                  {% endif %}
                  <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                  <span class="separator">|</span>
                  <a href="{% url 'admin:logout' %}?next={% url 'landing' %}">{% trans 'Log out' %}</a>
                  </span>
                {% endblock %}







 {% block nav-global %}<a href="{% url 'dashboard' %}">Dashboard</a>
         <span class="separator">|</span>
<a href="{% url 'import_registry' %}">Import Registry Definition</a>
{% endblock %}


