{% extends "admin/base.html" %}
{% load i18n %}

{% load admin_static %}

{% block extrastyle %}
  {{ block.super }}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
{% endblock %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        <span class="separator">|</span>
    {% endif %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
    <span class="separator">|</span>
        <a href="{% url 'admin:logout' %}?next={% url 'landing' %}">{% trans 'Log out' %}</a>
    </span>
{% endblock %}


{% block nav-global %}
    <p style="padding-top: 11px;">
        <a href="{% url 'dashboard' %}">Dashboard</a>
        {% if request.user.is_superuser %}
            <span class="separator">|</span>
            <a href="{% url 'import_registry' %}">Import Registry Definition</a>
        {% endif %}
    </p>
{% endblock %}
