{% extends "admin/base_ccg.html" %}
{% load i18n %}
{% load stickiness %}
{% load is_i18n %}
{% load get_feature %}

{% load admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('button[data-toggle=popover]').popover({
                'html': true,
                'title': 'Available Modules',
                'trigger': 'click',
                'placement': 'bottom'
            });
            {% is_i18n as i18n_flag %}
            {% if i18n_flag %}
            $('#lang-list').change(function() {
                lang = $("#lang-list option:selected").val();
                form = $("<form></form>").attr("action", "{% url 'set_language' %}").attr("method", "POST");
                form.append("{% csrf_token %}");
                form.append($("<input></input>").attr("type", "hidden").attr("name", "next").val("{{ request.path }}"));
                form.append($("<input></input>").attr("type", "hidden").attr("name", "language").val(lang));
                form.appendTo("body").submit();
            });
            {% endif %}
            $('#registry-list').change(function() {
                url = $("#registry-list option:selected").val();
                if (url != -1) {
                    window.location.href = url;
                }
            });        
        })
    </script>
{% endblock %}

{% block branding %}{% current_registry request %}{% endblock %}

{% block userlinks %}
    {{ block.super }}
    
    <select id="registry-list">
        <option value=-1>Go to registry</option>
        {% for registry in request.user.registry.all %}
            <option value={% url 'registry' registry.code %}>{{registry.name}}</option>
        {% endfor %}
    </select>

    {% get_feature "notifications" as notifications_feature %}
    {% if notifications_feature %}
        <select id="notificationDropdown">
            <option selected disabled>Notifications</option>
        </select>
        <script>
            (function(){
                 var notificationDropdown = $("#notificationDropdown");
                 notificationDropdown.attr("style", "width: 150px");
                 var regex = /value='(.*?)'/;
                 var csrfString = regex.exec("{% csrf_token %}")[1];


                 function updateDateNotficationDropdown(results) {
                     notificationDropdown.empty();
                     notificationDropdown.append($("<option />").attr("selected", "selected").attr("disabled","disabled").text("Notifications"))

                     $.each(results, function () {
                         var optionText = "Message from " + this.from_user + ":" + this.message;
                         notificationDropdown.append($("<option />").val(this.link).text(optionText));
                     });
                 }

                 function checkForNotifications() {
                     var csrfToken = csrfString;   //("input[name='csrfmiddlewaretoken']").val();
                     var rpc = new RPC.RPC("{% url 'rpc' %}", csrfToken);

                     rpc.send("check_notifications", [], function (result) {
                         var results = result.result;
                         updateDateNotficationDropdown(results);
                     });
                 }

                 $(document).ready(function () {
                     setTimeout(checkForNotifications, 5000);
                 })
           })();
        </script>
    {% endif %}

    {% is_i18n as i18n_flag %}
    {% if i18n_flag %}
        {% get_current_language as LANGUAGE_CODE %}
        
        <select style="width: 150px" id="lang-list">
            <option>Select one...</option>
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>{{lang.1}}</option>
                {% endfor %}
        </select>
    {% endif %}

{% endblock %}
