{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load version_number %}
{% load get_feature %}

{% block extrastyle %}
  {{ block.super }}
  
  <script>
  $(document).ready(function() {
    if ({{ app_list|length }} > 1) {
      $('#full-menu').hide();
    }
    $('#full-menu-alert').click(function() {
      $('#full-menu').toggle('fast');
    });
  });
  </script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="well">
      {% if app_list|length > 1 %}
      <div class="alert alert-info"><h4>{% trans 'Quick access links' %}</h4></div>
      
      <table class="table table-hover" summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
            {% for quick_link in request.user.quick_links %}
             <tr><th scope="row"><i class="icon-cog"></i> <a href="{{quick_link.url}}">{{quick_link.text}}</a></th></tr>
            {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  
  <div id="content-related">
    <div class="well">
      <h5 style="text-align: justify;">
       {% get_feature "notifications" as notifications_feature %}
       {% if notifications_feature %}
       {% if request.user.notices %}
           <script>
                 var notificationTable = $("#notificationTable");
                 var regex = /value='(.*?)'/;
                 var csrfString = regex.exec("{% csrf_token %}")[1];
                 var rpc = new RPC.RPC("{% url 'rpc' %}", csrfString);

                 function rdrfDismissNotification(obj) {
                     var id = $(obj).closest("tr").children('td:first').text();
                     rpc.send("dismiss_notification", [id], function (result) {
                        window.location.reload();

                     });
                 }

           </script>
           <table id="notificationTable" class="table table-striped table-bordered table-hover table-condensed">
            <caption class="alert alert-info">{% trans "Notifications" %}</caption>
            <thead>
                <tr>
                    <th>{% trans "Id" %}</th>
                    <th>{% trans "Message" %}</th>
                    <th>{% trans "From" %}</th>
                    <th>{% trans "When" %}</th>
                    <th>{% trans "Link" %}</th>
                     <th>{% trans "Dismiss" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in request.user.notices %}

                      <tr>
                        <td>{{notice.pk}}</td>
                        <td class="notice_message">{{ notice.message|safe }}</td>
                        <td class="notice_message">{{ notice.from_username|safe }}</td>
                        <td class="notice_time">{{ notice.created|timesince }} {% trans "ago" %}</td>
                        {% if notice.link %}
                            <td class="notice_time"><a href="{{ notice.link}}">link</a></td>
                        {% else %}
                            <td class="notice_time">NA</td>
                           {% endif %}

                        <td><button onclick="rdrfDismissNotification(this);">Dismiss</button></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
       {% else %}
        No Notices
       {% endif %}
       {% endif %}
    </div>
  </div>

{% endblock %}
