Django==1.8.4
pymongo==2.8.1
pyyaml
django-extensions>=0.7.1
django-picklefield==0.1.9
django-templatetag-sugar==1.0
pyparsing==1.5.7
wsgiref==0.1.2
python-memcached==1.54
django-messages-ui==0.2.7
django-nose
django-templatetag-handlebars==1.2.0
django-ajax-selects
pysam==0.8.3
hgvs==0.2.2
django-positions 
django-tastypie==0.12.2
pycountry==1.12
django-countries
hgtools
uwsgi==2.0.10
uwsgitop
pyinotify==0.9.4
six==1.9.0
python-gettext
django-registration-redux==1.1.0
psycopg2==2.6.1
django-secure==1.0.1
https://bitbucket.org/ccgmurdoch/ccg-django-utils/downloads/ccg-django-utils-0.3.1.tar.gz
https://github.com/muccg/django-userlog/archive/2.0.0.tar.gz
