Django==1.8.12
pymongo==2.9.3
pyyaml
django-extensions>=0.7.1
django-templatetag-sugar==1.0
pyparsing==1.5.7
wsgiref==0.1.2
python-memcached==1.58
django-messages-ui==0.2.7
django-nose
django-templatetag-handlebars==1.2.0
django-ajax-selects
nose
sphinxcontrib-httpdomain==1.4.0
setuptools_scm==1.10.1
hgtools==6.5.1
django-positions 
pycountry==1.20
django-countries
uwsgi==2.0.13.1
uwsgitop
pyinotify==0.9.6
six==1.10.0
python-gettext
django-registration-redux==1.3
psycopg2==2.6.1
djangorestframework==3.3.3
openpyxl
SQLAlchemy
django-anymail==0.4.2
ccg-django-utils==0.4.2
django-useraudit==1.2.0
django-iprestrict==0.4.3
python-dateutil==2.5.3
